<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>


<div class="padding-center">

    <h1><?php echo $_product->getName();?></h1>

    <h3>Add Photo Gallery</h3>
    <form method="POST" enctype="multipart/form-data" action="<?php echo Mage::getBaseUrl();?>v1/catalog/upload/id/<?php echo $_product->getId();?>">

    
        <div class="row medium-up-4">
            <div class="columns">
                <div class="image-upload">

                    <input id="file" name="file[]" type="file" multiple />
                </div>
            </div>
        </div>



        <button type="submit" class="button" name="submit" value="Upload Image">
            Upload Photo
        </button>
    </form>



    <div id="upload-image" class="padding-center">
        <h5 class="uppercase">Gallery</h5>
        <div class="row small-up-2 medium-up-4">


            <?php 
    $product = Mage::getModel('catalog/product')->load($_product->getId());
    foreach ($product->getMediaGalleryImages() as $image):?>
   <?php if($image->getLabel() !== 'host_upload'){
       continue;
   };?>
            <?php

$file_name = $image->getFile();

         //echo  $image->getUrl();
         $image_url = $this->helper('catalog/image')->init($this->getProduct(), 'small_image', $image->getFile())
         ->constrainOnly(false)
         ->keepAspectRatio(true)
         ->keepFrame(false)
         ->resize(300);
?>
            <div class="columns">


                <div class="square-box fullbackground" style="
        background: url('<?php echo $image_url?>') no-repeat center center; ">
                    <div class="square-content">
                        <button class="label secondary hollow" onclick="remove('<?php echo $file_name;?>')">Remove</button>
                       
                    </div>
                </div>

            </div>

            <?php endforeach;?>
        </div>

    </div>






</div>




<style>
    .image-upload>input {}

    
</style>

<style>
    [type=text],
    textarea {
        border-bottom: 1px solid #eee
    }

    label {
        font-weight: 500;
        font-size: 14px !important
    }

    .fullbackground {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 1rem
    }

    .square-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        background: #4679BD;
    }

    .square-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .square-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        padding: 15%;
        text-align: center;


    }

    .square-content:hover {
        background: rgba(0, 0, 0, 0.3)
    }
</style>

<script>
     function remove(value) {
        

        var code = value;
         
         new Ajax.Request('<?php echo $this->getUrl("exp/product/removeimage") ?>', {
             method: 'post',
             parameters: {
                 code: code,
                 id: <?php echo $_product->getId()?>,
                
             },
             onComplete: function (data) {
                 //console.log(data.responseText);
                 location.reload();
                 //$('upload-image').update(data.responseText);
             },
 
 
 
         });
 
 
 
 
     }
</script>