<a class="backnav-url" href="<?php echo $this->getUrl('exp/bankaccount') ?>">
    <i class="fa fa-angle-left" aria-hidden="true"></i> My Bank Account</a>
    <h1>
   Add New Bank Account
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();
    
    ?>
   
    <form class="form"  method="post" name="addaccountform" id="addaccountform" action="<?php echo $this->getUrl("exp/bankaccount/addpayoutmethod") ?>" enctype="multipart/form-data">

       
        <label>Account Name</label>

        <input class="required-entry" type="text" name='acc_name'  placeholder="Andrew Jason"/>
        <label>Account Number</label>
        <input class="required-entry" type="text" name='acc_number' placeholder="786091192"/>
        <label>Bank Name</label>
        <input class="required-entry" type="text" name='bank_name' placeholder="BCA"/>
        
        
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />
        <button type='submit' value='add' class="button">
            Add Account
        </button>

    </form>
    
    <script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('addaccountform');
    //]]>
</script>

