<!-- AFTER BODY -->
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); 
$_convertedFinalPrice = $_product->getFinalPrice();
?>
<?php $cart_total = $this->helper('checkout/cart')->getSummaryCount();?>
<?php if (!empty( $_product->getBrand())):?>
<?php $brand = $_product->getAttributeText("brand");?>
<?php endif;?>

<?php if (!empty( $_product->getBrandUrl())):?>
<?php $brandUrl = $_product->getBrandUrl();?>
<?php endif;?>

<?php if (!empty( $_product->getPromoId())):?>
<?php $promo_id =  $_product->getPromoId();?>
<?php $rule = Mage::getModel('salesrule/rule')->load($promo_id);
        $promo_desc = $rule->getDescription();
        $promo_code = $rule->getCouponCode()
    ?>
<?php endif;?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="padding-center border-bottom">
    <div class="row">
       
        <div class="medium-7 columns">

            <?php echo $this->getChildHtml('media') ?>
            <div class="row">
                <div class="medium-12 columns">

                    <?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?>

                </div>
            </div>

        </div>
        <div class="medium-5 columns">
            <div class="label-text large">
                <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                        
                        <div class="title cursive margin-bottom-0">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </div>
                        <?php if (!empty( $_product->getBrand())):?>
                                <div class="label margin-bottom-1">
                           BY <?php echo $_product->getAttributeText("brand");?>
                            </div>
                            <?php endif;?>
                        <p class="large-text"><?php echo $_product->getShortDescription();?></p>
                    </div>


                </div>
            </div>
            <div class="flex-container align-center border-bottom padding-bottom-1 margin-bottom-1">
                <div class="flex-item margin-right-05">
                <?php
                if($_product->getTypeId() == "configurable" && $_product->getPrice()== 0):
                    $conf = Mage::getModel('catalog/product_type_configurable')->setProduct($_product);
                    $simple_collection = $conf->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions();
                    echo 'Start From '. Mage::helper('core')->currency($simple_collection->getFirstItem()->getPrice());
                    
                else:
                echo $this->getPriceHtml($_product);
                endif;
                ?>
                </div>
                <div class="flex-item flex-1">
                    <p class="small-text cursive italic">
                        ( 7 Days Return Warranty )
                    </p>
                </div>
            </div>

            <app-product-add-to-cart
product_id="<?php echo $_product->getId();?>"
final_price="<?php echo $_product->getPrice();?>"
name="<?php echo $_product->getName();?>"

></app-product-add-to-cart>

             <!-- ADD TO CART FORM -->
             <!-- <form id="myForm" method="post" class="form" <?php if($_product->getOptions()): ?>
                enctype="multipart/form-data" <?php endif; ?>>
                <?php echo $this->getBlockHtml('formkey') ?>
                <input type="hidden" type="text" name="product" value="<?php echo $_product->getId()?>">

                <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                    <?php echo $this->getChildHtml('addtocart') ?>
                    <?php else:?>

                    <?php echo $this->getChildHtml('alert_urls') ?>                      
                    <?php endif; ?>
                    
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php endif; ?>


                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                <?php else:?>

                <?php echo $this->getChildHtml('alert_urls') ?>  
                    
                <?php endif;?>
            </form> -->


          

            <?php echo $this->getChildHtml('product-info') ?>


           

        </div>

    </div>

</div>




<div class="padding-center">

<?php echo $this->getChildHtml('upsell_products') ?>
</div>


<!-- BEFORE FOOTER -->
<?php echo $this->getChildHtml('review_additional_data') ?>

<?php echo $this->getChildHtml('product_additional_data') ?>








<script type="text/javascript">
    //<![CDATA[ 
    var formId = 'myForm';
    var myForm = new VarienForm(formId, true);
    var postUrl = '<?php echo Mage::getBaseUrl()?>/wia-module/order/addtocart';

    function doAjax() {
        if (myForm.validator.validate()) {
            new Ajax.Updater({
                success: 'formSuccess'
            }, postUrl, {
                method: 'post',
                asynchronous: true,
                evalScripts: false,
                onComplete: function (request) {
                    console.log(request)
                    

                    //TODO : Move to JS file
                    var data = request.responseJSON;
                    $('js-cart-items').update(data.qty);
                    $('js-subtotal').update(data.subtotal);
                    $('js-qty').update(data.qty);
                    sendTracker();
                    sendToFacebook()



                },
                onLoading: function (request, json) {
                    toggleUp('miniCart');
                    

                },
                parameters: $(formId).serialize(true),
            });
        }
    }

    new Event.observe(formId, 'submit', function (e) {
        e.stop();
        doAjax();
    });
    //]]>
</script>


<script>
    function sendTracker(){
        gtag('event', 'add_to_cart', {
        "items": [
            {
            "id": "<?php echo $_product->getId();?>",
            "name": "<?php echo $_product->getName();?>",
            "brand": "<?php echo $brand?>",
            "quantity": 1,
            "price": '<?php echo $_product->getPrice();?>'
            }
        ]
        });

    }

    function sendToFacebook(){
        fbq('track', 'AddToCart',
                    // begin required parameter object
                    {
                        value: <?php echo $_product->getPrice();?>,
                        currency: 'IDR',
                        content_type: 'product', // required property
                        content_name: "<?php echo $_product->getName();?>",
                        content_ids: ["<?php echo $_product->getId();?>"] // required property, if not using 'contents' property
                    }
                    // end required parameter object
                    );

    }

    


        
</script>