<div>

    <h1>
    Payout Method 
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();
    
    ?>
   
    <form method="post" action=<?php echo $this->getUrl("exp/payoutmethod/addpayoutmethod", $params) ?> >
        nama akun :
        <input name='acc_name'  /><br>
        nomor rekening :
        <input name='acc_number' /><br>
        nama bank :
        <input name='bank_name' /><br>
        
        <input type='submit' value='add'/>
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />

    </form>
    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

</div>