<div>

    <h1>
    my booking 
    </h1>


    <?php 
    $orders = $this->selectOrder();
    ?>
    <table border='1'> 

    <tr>
        <td>increrment id </td>
        <td>nama </td>
        <td>status</td>
        <td>view</td>
    </tr>

    <?php 
        foreach($orders as $ord) : 
            $order = Mage::getModel('sales/order')->load($ord);
            //var_dump($order);
    ?>
        
    
    <tr>
        <td><?php echo $order->getIncrementId() ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
        <!-- <td><?php echo $order->getBookdate();  ?></td>
        <td><?php echo $order->getInfoguest();  ?></td> -->
        <td>
        <form method="post" action="<?php echo $this->getUrl("exp/bookorder/bookingdetail", $params) ?>">
            <input name="incrementid" value="<?php echo $order->getIncrementId()?>" type="hidden"/>
            <input type="submit" value="view" />
        </form>
        </td>
    </tr>
    
    <?php endforeach ?>
        </table>

</div>