<?php $_product = $this->getProduct();
echo $_product->getId();
?>


<div>
    <?php $idsession = $this->getCustomer()->getEntityId(); ?>
    <h1>
    edit product
    </h1>

    <?php
     $params = $this->getRequest()->getParams();
    ?>

    <form method="post" action=<?php echo $this->getUrl("exp/myexperience/editExp", $editparams) ?> >    
  
            nama barang : 
            <input name="nama"  value="<?php echo $params['nama']?>"/><br>
            sku :
            <input name="sku" value="<?php echo $params['sku']?>"/><br>
            description :
            <input name= "deskripsi"  value="<?php echo $params['deskripsi']?>"/><br>
            Price :
            <input name="harga" value="<?php echo $params['harga']?>"/><br>
            <input type="hidden" name="idproduk" value="<?php echo $params['idproduk']?>" /><br>
            <input type="hidden" name="id" value="<?php echo $idsession ?>" />
            <input type="submit" value="edit" />

    </form>
    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

</div>