<div>

    <h1>
    inbox order
    </h1>

    <?php 
    //untuk orderan dari host
    $orders = $this->selectOrder();
    //untuk orderan sebagai customer
    $orderx = $this->selectorderviewcust();

    ?>
    <table border='1'> 
    <tr>
        <td>increrment id </td>
        <td>nama host/customer </td>
        <td>status order</td>
        <td>chat</td>
    </tr>
    <?php 
        foreach($orders as $ord) : 
            $order = Mage::getModel('sales/order')->load($ord);
            //order as a host
            if($order->getState()=="processing" ){
    ?>
    <tr>
        <td><?php echo $order->getIncrementId() ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
        <td>
            <form method="post" action="<?php  echo $this->getUrl("exp/bookorder/chatorder", $params) ?>">
                <input type="submit" value="chat" >
                <input type="hidden" name="incrementid" value="<?php echo $order->getIncrementId() ?>">
            </form>
        </td>
    </tr>
    <?php 
            }
        endforeach ;
        //order as a customer
        foreach($orderx as $ord) :  ?>
            <tr>
                <td><?php echo $ord['increment_id'] ?></td>
                <td><?php echo $ord['nama'] ?></td>
                <td><?php echo $ord['status'] ?></td>
                <td>
                    <form method="post" action="<?php  echo $this->getUrl("exp/bookorder/chatorder", $params) ?>">
                        <input type="submit" value="chat" >
                        <input type="hidden" name="incrementid" value="<?php echo $ord['increment_id'] ?>">
                    </form>
                </td>
            <tr>
        <?php endforeach  ?>
    </table>
</div>