<div class="checkout-sidebar-container">

    <div class="order-summary-container show-for-medium">
        <?php $_cartQty = Mage::getSingleton('checkout/cart')->getItemsCount();?>
        <h5>CART</h5>

        <p><?php echo $_cartQty;?> Items <a href="<?php echo $this->getUrl('checkout/cart') ?>">( view details )</a></p>

    </div>




    <div class="review-table-container" id="review-table-container">
        <?php echo $this->getChildHtml('totals') ?>
    </div>


    <div class="view-promo" onclick="toggleUp('voucherListModal');getVoucherList()">Click Here to View Promo Code</div>
    <div id="voucherListModal" class="slideup-container tiny">

        <div class="slideup-content">
            <button onclick="toggleUp('voucherListModal')" class="close-button" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="row">
                <div class="medium-11 medium-centered column">
                    <div class="label-text medium">
                        <div class="flex-container horizontal justify-space-between align-end">
                            <div class="flex-item">
                                <div class="title">
                                    Available Promo Code
                                </div>
                                
                            </div>
                         

                        </div>
                    </div>



                </div>
            </div>

            <div id="promo-list-container">

            </div>




        </div>

    </div>


    <script>
        function copy() {
            console.log('value')
        }

        function getVoucherList() {


            new Ajax.Request('<?php echo $this->getUrl("wia-module/order/getVoucherList") ?>', {
                method: 'get',

                onComplete: function (data) {
                    //console.log(data.responseText);

                    $('promo-list-container').update(data.responseText);
                },



            });




        }
    </script>

    <style>
        .view-promo {
            padding: 0.5rem;
            border: 1px dashed #f57224;
            width: 100%;
            color: #f57224;
            font-size: 12px;
            border-radius: 6px;
        }

        .promo-containers {
            padding: 1rem;
            border-bottom: 1px solid #eee;
        }

        .promo-desc {
            font-size: 12px;
        }
    </style>



</div>

<div class="checkout-sidebar-container-bottom">
    <div class="payment-method-group">
        <h5>METODE PEMBAYARAN</h5>
        <div class="row small-up-5 margin-bottom-05">

            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://filotropic.com/media/logo/visa-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://filotropic.com/media/logo/mastercard-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://filotropic.com/media/logo/jcb-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://filotropic.com/media/logo/alto-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://filotropic.com/media/logo/bersama-2-01.svg" alt="">


                </div>
            </div>


        </div>
        <p style="font-size:12px;font-weight:300">Keamanan pembayaran didukung oleh <a href="https://midtrans.com"
                target="_blank">midtrans</a>. Hubungi (021) 2222 7825 untuk bantuan</p>
    </div>
</div>