<?php
/**
 * Indonesia Shipping Carriers
 * @copyright   Copyright (c) 2015 Ansyori B.
 * @email		ansyori@gmail.com / ansyori@kemanaservices.com
 * @build_date  March 2015   
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>

<?php
$penolong = Mage::helper('aongkir'); 
?>
<div class="label-text large border-bottom">
    <div class="flex-container horizontal justify-space-between align-end">
        <div class="flex-item">
            <div class="title">
              Edit Address
            </div>

        </div>


    </div>
</div>


<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="callout light-grey-bg padding-center margin-bottom-2">
    <form clas="form" action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" class="scaffold-form"
        enctype="multipart/form-data">
        <div class="row collapse">
            <div class="medium-12 columns">
                <div class="box">
                    <?php echo $this->getBlockHtml('formkey')?>
                    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

                    <p class="required tiny-text"><?php echo $this->__('* Required Fields') ?></p>
                    <ul class="form-list no-bullet">
                        <li class="fields">
                            <?php echo $this->getNameBlockHtml() ?>
                        </li>
                        <li class="wide">
                            <label for="company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input type="text" name="company" id="company"
                                    title="<?php echo $this->__('Company') ?>"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>"
                                    class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="telephone"
                                    class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <div class="input-box">
                                    <input type="tel" name="telephone"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>"
                                        title="<?php echo $this->__('Telephone') ?>"
                                        class="validate-number input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"
                                        id="telephone" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="fax"><?php echo $this->__('Fax') ?></label>
                                <div class="input-box">
                                    <input type="tel" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>"
                                        class="validate-number input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="medium-12 columns">
                <div class="box">
                    <ul class="form-list no-bullet">
                        <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li class="wide">
                            <label for="street_1"
                                class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="street[]"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                    title="<?php echo $this->__('Street Address') ?>" id="street_1"
                                    class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <label
                                for="billing:street<?php echo $_i ?>"><?php echo $this->__('Street Address %s', $_i) ?></label>
                            <div class="input-box">
                                <input type="text" name="street[]"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>"
                                    title="<?php echo $this->__('Street Address %s', $_i) ?>"
                                    id="street_<?php echo $_i ?>"
                                    class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                        <?php endfor; ?>
                        <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="wide">
                            <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>
                            <div class="input-box">
                                <input type="text" name="vat_id"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>"
                                    title="<?php echo $this->__('VAT Number') ?>" id="vat_id"
                                    class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                        <?php endif; ?>

                        <li class="fields">
                            <div class="field">
                                <label for="zip"
                                    class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                <div class="input-box">
                                    <input type="text" name="postcode"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                        title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip"
                                        class="validate-number input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="country"
                                    class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                <div class="input-box">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                        </li>

                        <li class="fields">
                            <div class="field">
                                <label for="region_id"
                                    class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                <div class="input-box">
                                    <select id="region_id" name="region_id"
                                        title="<?php echo $this->__('State/Province') ?>" class="validate-select"
                                        style="display:none;">
                                        <option value="">
                                            <?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        $('region_id').setAttribute('defaultValue',
                                            "<?php echo $this->getAddress()->getRegionId() ?>");
                                        //]]>
                                    </script>
                                    <input type="text" id="region" name="region"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"
                                        title="<?php echo $this->__('State/Province') ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                <div class="input-box">
                                    <input type="text" name="city"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                        title="<?php echo $this->__('City') ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                        id="city" />
                                </div>
                            </div>

                        </li>

                        <li<?php if($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
                            <?php if($this->isDefaultBilling()): ?>
                            <strong><?php echo $this->__('Default Billing Address') ?></strong>
                            <?php elseif($this->canSetAsDefaultBilling()): ?>
                            <input type="checkbox" id="primary_billing" name="default_billing" value="1"
                                title="<?php echo $this->__('Use as My Default Billing Address') ?>"
                                class="checkbox" /><label
                                for="primary_billing"><?php echo $this->__('Use as my default billing address') ?></label>
                            <?php else: ?>
                            <input type="hidden" name="default_billing" value="1" />
                            <?php endif; ?>
                            </li>
                            <li<?php if($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
                                <?php if($this->isDefaultShipping()): ?>
                                <strong><?php echo $this->__('Default Shipping Address') ?></strong>
                                <?php elseif($this->canSetAsDefaultShipping()): ?>
                                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1"
                                    title="<?php echo $this->__('Use as My Default Shipping Address') ?>"
                                    class="checkbox" /><label
                                    for="primary_shipping"><?php echo $this->__('Use as my default shipping address') ?></label>
                                <?php else: ?>
                                <input type="hidden" name="default_shipping" value="1" />
                                <?php endif; ?>
                                </li>
                    </ul>
                    <div class="buttons-set">
                     
                        <button type="submit" title="<?php echo $this->__('Save Address') ?>"
                            class="button expanded primary"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>




<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>

<?php if($penolong->config('jquery')): ?>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<?php endif ?>
<script>

function playAjax(CURRENT_CITY_ID,PROV_ID)
{
	//var CURRENT_CITY_ID = 
	jQuery.ajax({
				type: 'GET', 
				url: '<?php echo Mage::getUrl('aongkir/index/city/', array('_secure'=>true)); ?>', 
				data: 'prov_id='+PROV_ID,
				dataType: 'json',
				success: function(data){
					if(data){
						
						jQuery('input#city').replaceWith('<select name="city" title="City" class="required-entry" id="city"></select>');
						
						jQuery('select#city').empty().append(
                            jQuery("<option value=''><?php echo $this->__('Please select city') ?></option>")
							
							
                        );
						
						jQuery.each(data, function(index, city){
							//console.log('CITY ID : '+city.city_id+' disp name :'+city.display_name);
							
						 if(CURRENT_CITY_ID == city.display_name){	
							 jQuery('select#city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
								.prop('selected','selected')
							  )
						 }else
						 {
							 jQuery('select#city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
							  )
						 }
						  	
						});
					}
				} 
			});
	
	
};

var aongkir = jQuery.noConflict();


jQuery(document).ready(function(e) {

	var CURRENT_CITY_ID = '<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>' ;
	var COUNTRY_ID = jQuery('select#country :selected').val();
	console.log('CURRENT_CITY_ID is '+CURRENT_CITY_ID);
	var PROV_ID = jQuery('select#region_id :selected').val();
	
	if(CURRENT_CITY_ID)
	{
		playAjax(CURRENT_CITY_ID,PROV_ID);
		//CURRENT_CITY_ID = jQuery('select#city :selected').val();
		//jQuery('select#city').find('option[value="'+CURRENT_CITY_ID+'"]').attr('selected', 'selected');
	};
	
	jQuery('select#region_id').change(function(e) {
		PROV_ID = jQuery('select#region_id :selected').val();			
		playAjax(CURRENT_CITY_ID,PROV_ID);					
	});	

	jQuery('select#country').change(function(e) {
        
		COUNTRY_ID = jQuery('select#country :selected').val();
		
		if(COUNTRY_ID != 'ID')
		{
			/*balikin ke awal*/
			
			jQuery('select#city').replaceWith('<input type="text" name="city" title="City" class="input-text required-entry" id="city">');
			
		}else
		{
			jQuery('select#region_id').find('option[value=""]').attr('selected', 'selected');
			jQuery('input#city').replaceWith('<select name="city" title="City" class="required-entry" id="city"></select>');
		}
		
    });

	
});
</script>
