

<?php if ($this->customerHasAddresses()): ?>
<div class="padding-center">
    <div class="label-text padding-center small">
        <div class="flex-container horizontal ">
            <div class="flex-item flex-1">
                <div class="title">
                    Shipping Address
                </div>

            </div>


        </div>
    </div>

    <div class="list-tile padding-center white-bg">
       
            <div class="flex-container align-center">

                <div class="flex-item flex-3">
                    <div class="title">
                        <?php echo $this->getAddress()->getName();?>
                    </div>
                    <div class="subtitle">
                        <?php echo $this->getAddress()->getStreet('1');?>
                    </div>
                </div>
                <div class="flex-item flex-05 text-right">
                    <div class="icon">
                    <a href="#" class="primary-color" data-toggle="addressModal">Change</a>
                    </div>
                </div>
            </div>
       

    </div>
</div>

<div class="padding-center">

    <?php echo $this->getChildHtml('shipping-method') ?>

</div>

<div class="reveal" id="addressModal" data-close-on-click="false" data-reveal>
    <h3>Add Address</h3>
    <?php echo $this->getChildHtml('shipping') ?>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>



<?php else:?>
<div class="padding-center">
<div class="label-text small padding-center">
    <div class="flex-container horizontal ">
        <div class="flex-item flex-1">
            <div class="title">
                Shipping Address
            </div>

        </div>




    </div>
</div>

<div class="list-tile padding-center white-bg">
    
        <div class="flex-container align-center">

            <div class="flex-item flex-3">
                <div class="title">
                    Add Adress
                </div>
                <div class="subtitle">
                    Silahkan menambahkan alamat pengiriman
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                <a href="#" class="primary-color" data-toggle="addressModal"> Add</a>
                </div>
            </div>
        </div>
    

</div>
</div>


<div class="reveal medium" id="addressModal" data-close-on-click="false" data-reveal>
    <h3>Add new address</h3>
    <?php echo $this->getChildHtml('shipping') ?>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
<?php endif;?>