<div class="view-promo" onclick="toggleUp('voucherListModal');getVoucherList()">Click Here to View Promo Code</div>
<div id="voucherListModal" class="slideup-container">
    <div class="slideup-content">
        <button onclick="toggleUp('voucherListModal')" class="close-button" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="label-text small padding-center">
            <div class="flex-container horizontal justify-space-between">
                <div class="flex-item">
                    <div class="title">
                        Available Promo
                    </div>
                </div>
            </div>
        </div>
        <div id="promo-list-container">
        </div>
    </div>
</div>

<script>
    function copy() {
        console.log('value')
    }

    function getVoucherList() {


        new Ajax.Request('<?php echo $this->getUrl("wia-module/order/getVoucherList") ?>', {
            method: 'get',

            onComplete: function (data) {
                //console.log(data.responseText);

                $('promo-list-container').update(data.responseText);
            },



        });




    }
</script>

<style>
    .view-promo {
        padding: 0.5rem;
        border: 1px dashed #f57224;
        width: 100%;
        color: #f57224;
        font-size: 12px;
        border-radius: 6px;
    }

    .promo-containers {
        padding: 1rem;
        border-bottom: 1px solid #eee;
    }

    .promo-desc {
        font-size: 12px;
    }

    .promo-code {
        font-size: 10px;
        text-transform: uppercase
    }
</style>