<?php echo $this->getCssJsHtml() ?>

<script>
    document.addEventListener("DOMContentLoaded", yall);
</script>


<script>
    function toggleUp(value) {
        $(value).toggleClassName('show');
        $('main-body').toggleClassName('no-scroll');
    }


    function toggleShow(value) {
        $(value).show();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }

    function toggleHide(value) {
        $(value).hide();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }
</script>

<script>
    jQuery(document).ready(function ($) {
        $('.media').owlCarousel({
            center: true,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            loop: true,
            margin: 0,
            dots: true,
            autoplay: false,
            nav: false,
        });
    });


    jQuery(document).ready(function ($) {
        var owl = $('#product-slider.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: false,
            margin: 0,
            nav: false,
            dots: true,

        })
    });


    jQuery(document).ready(function ($) {
        var owl = $('#featured-product.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 30,
            nav: true,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {
                    items: 4,
                    nav: true,
                    dots: true,

                },
                1600: {


                    items: 4,
                    nav: true,
                    dots: true,
                }

            }
        })
    });






    jQuery(document).ready(function ($) {
        var owl = $('#featured-activities.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 3,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 3,
                    nav: true,
                    dots: false,
                }

            }
        })
    });

    jQuery(document).ready(function ($) {
        var owl = $('#featured-category.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 10,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {
                    stagePadding: 100,
                    items: 5,
                    nav: true,
                    dots: false,

                },
                1600: {

                    stagePadding: 150,
                    items: 5,
                    nav: true,
                    dots: false,
                }

            }
        })
    });
</script>





<script>
    function sendtoTracker(value) {
        console.log(value);
        ga('send', 'event', 'action', value);
    }
</script>

