<?php
$_categoryId = $this->getCategoryId();
$label = 'Harbolnas1212';//$this->getCategoryLabel();
$tracker = 'HARBOLNAS_2019';//$this->getCategoryTracker();
$title = 'Belanja Rp12K & Diskon up to 80%';//$this->getCategoryTitle();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);




    $_productCollection = Mage::getModel('catalog/category')->load($_categoryId)


    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
   
    ->setPageSize(6);

    
?>

<style>

@font-face {
  font-family: 'Gotham';
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBold.eot");
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBold.woff2") format("woff2"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBold.woff") format("woff"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.eot");
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.woff2") format("woff2"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.woff") format("woff"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.ttf") format("truetype"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBook.eot");
  src: url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBook.eot?#iefix") format("embedded-opentype"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBook.woff2") format("woff2"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBook.woff") format("woff"), url("https://filotropic.com/skin/frontend/wia-version5/default/fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
</style>

<body
  style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#fefefe!important;box-sizing:border-box;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
  <span class="preheader"
    style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
  <table class="body"
    style="Margin:0;background:#fefefe!important;border-collapse:collapse;border-spacing:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="padding:0;text-align:left;vertical-align:top">
      <td class="center" align="center" valign="top"
        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
        <center data-parsed style="min-width:580px;width:100%">
          <!-- HEADER START -->
          <table align="center" class="container float-center"
            style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td
                  style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="row"
                    style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last"
                          style="Margin:0 auto;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0!important;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table
                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th
                                style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <table class="spacer border-top"
                                  style="border-collapse:collapse;border-spacing:0;border-top:1px solid #eee;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="10px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="row"
                                  style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <th class="small-2 large-6 columns first last"
                                        style="Margin:0 auto;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0!important;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
                                        <table
                                          style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th
                                              style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                              <a href="https://filotropic.com/"
                                                style="Margin:0;color:#f57224;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img
                                                  height="60px" width="60px" title="wearinasia"
                                                  src="https://filotropic.com/media/wysiwyg/logo/wia-logo.svg" alt
                                                  style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                                            </th>
                                          </tr>
                                        </table>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="spacer"
                                  style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="15px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:15px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="spacer border-top"
                                  style="border-collapse:collapse;border-spacing:0;border-top:1px solid #eee;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="10px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table><!-- HEADER END -->
          <table align="center" class="container float-center"
            style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td
                  style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="spacer"
                    style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <td height="16px"
                          style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                          &#xA0;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row"
                    style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last"
                          style="Margin:0 auto;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0!important;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table
                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th
                                style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <a href="<?php echo $_categoryUrl->getUrl();?>?utm_source=WIA_EMAIL_BLAST&utm_medium=WIA_EMAIL_BLAST&utm_campaign=<?php echo $tracker?>"
                                  style="Margin:0;color:#f57224;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img
                                    src="<?php echo $_categoryUrl->getResizedThumbnailImage(800,600,76)?>" alt
                                    style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                                <table class="spacer"
                                  style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="20px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="label large">
                                  <h5
                                    style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Gotham;font-size:12px;font-weight:500;letter-spacing:1px;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;text-transform:uppercase;word-wrap:normal">
                                    <?php echo $label?></h5>
                                  <h2
                                    style="Margin:0;Margin-bottom:10px;color:#333;font-family:Gotham;font-size:30px;font-weight:600;line-height:1.3;margin:0;margin-bottom:.5rem;padding:0;text-align:left;word-wrap:normal">
                                    <?php echo $title ?> </h2> <?php echo $_categoryUrl->getDescription()?> <table
                                    class="spacer"
                                    style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <td height="5px"
                                          style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:5px;font-weight:400;hyphens:auto;line-height:5px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                          &#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table class="button rounded rounded"
                                    style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        <table
                                          style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td
                                              style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#f57224;border:none;border-collapse:collapse!important;border-radius:3px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                              <a href="<?php echo $_categoryUrl->getUrl();?>?utm_source=WIA_EMAIL_BLAST&utm_medium=WIA_EMAIL_BLAST&utm_campaign=<?php echo $tracker?>"
                                                style="Margin:0;border:0 solid #f57224;border-radius:15px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;line-height:1.3;margin:0;padding:10px 16px 10px 16px;text-align:left;text-decoration:none">Shop
                                                Now</a></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <table class="spacer"
                                  style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="20px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:auto;line-height:20px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="spacer border-top"
                                  style="border-collapse:collapse;border-spacing:0;border-top:1px solid #eee;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="1px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:1px;font-weight:400;hyphens:auto;line-height:1px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </th>
                              <th class="expander"
                                style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table> 
                  
                  
                  <table class="spacer"
                    style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <td height="16px"
                          style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                          &#xA0;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table><!-- FOOTER START -->
          <table align="center" class="container float-center"
            style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top">
                <td
                  style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="row"
                    style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last"
                          style="Margin:0 auto;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0!important;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table
                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                              <th
                                style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <table class="spacer border-top"
                                  style="border-collapse:collapse;border-spacing:0;border-top:1px solid #eee;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="15px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:15px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table><span class="medium-grey-color large-text"
                                  style="color:#999!important;font-size:14px!important">© 2019 filotropic.com - PT AAJ
                                  Indonesia</span>
                                <table class="spacer"
                                  style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="15px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:15px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table><span class="medium-grey-color large-text"
                                  style="color:#999!important;font-size:14px!important">Office : Dalton Utara no. 50,
                                  Scientia Square, Gading Serpong. Tangerang - Banten</span>
                                <table class="spacer"
                                  style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                      <td height="15px"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:15px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        &#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </th>
                              <th class="expander"
                                style="Margin:0;color:#333;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table><!-- FOOTER END -->
        </center>
      </td>
    </tr>
  </table><!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>
