<?php $customer = $this->getCustomer();?>
<?php $_session = $this->getSession();?>

<?php $mediaUrl = Mage::getBaseUrl('media') . 'host' .$this->getCustomer()->getCustomerPhotoUrl();?>

<section class="padding-center border-bottom">
    <div class="row">
        <div class="small-4 medium-2 columns text-center">
            <div class="host-profile"  style="border-radius:100px;height:100px;line-height:100px;width:100px;background: url(<?php echo $mediaUrl?>) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

            </div>
            <a href="<?php echo $this->getUrl('exp/account/edit/photo/1') ?>" class="small-text">Change Photo</a>
        </div>
        <div class="small-8 medium-10 columns">
        <h1 class="show-for-medium"><?php echo $customer->getName();?></h1>
        <h3 class="show-for-small-only"><?php echo $customer->getName();?></h3>
        <div class="show-for-medium">
        <?php echo $this->escapeHtml($this->getCustomer()->getCustomerJob()) ?><br />
        <?php echo $this->escapeHtml($this->getCustomer()->getCustomerBio()) ?><br />
       
        </div>
        <a href="<?php echo $this->getUrl('exp/account/edit') ?>" class="small-text">Edit Profile</a>




        </div>
    </div>
</section>


