<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<style>
	.post-featured-image {
		width: 250px;
		height: 150px;
		object-fit: cover;
	}

	@media only screen and (max-width: 600px) {
		.post-featured-image {
			width: 400px;
			height: 250px;
			object-fit: cover;
		}
	}
</style>

<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
<div class="row">
	<div class="medium-10 medium-centered columns">
		<div class="block block-blog block-recent-posts">
			<?php if ($title = $this->getTitle()): ?>
				<div class="padding-center">
					<h3><?php echo $this->__($title) ?></h3>
				
				</div>
			<?php endif; ?>
			<div class="block-content">
				<div class="row medium-up-1" id="<?php echo $this->getListId() ?>">
					<?php foreach($posts as $post): ?>
						<?php $author = $post->getAuthor() ?>
						<div class="columns">
		<div class="padding-center border-top">
			<div class="row">
				<div class="medium-4 column">
					<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<div class="featured-image left margin-bottom-05">
						<a href="<?php echo $post->getPermalink() ?>">
							<img class="post-featured-image" src="<?php echo $featuredImage->getFullSizeImage() ?>"
								alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
						</a>

					</div>
					<?php endif; ?>

				</div>
				<div class="medium-8 column">
					<div class="label-text">
						<h2 class="cursive">
							<a href="<?php echo $post->getPermalink() ?>"
								title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>">
								<?php echo $this->htmlEscape($post->getPostTitle()) ?>
							</a>
						</h2>

						<div class="author uppercase small-text letter-spacing-1 margin-bottom-05">
							<img class="avatar-image margin-right-05" height="35" width="35"
								src="<?php echo $author->getGravatarUrl('100');?>" />
							By <?php echo $post->getAuthor()->getDisplayName()?> - <?php echo $post->getPostDate()?>
						</div>
						<div class="description">
							<?php echo $post->getPostExcerpt() ?>
						</div>



					</div>


				</div>
			</div>

		</div>



	</div>



					<?php endforeach; ?>
				</div>
				<script type="text/javascript">
					decorateList('<?php echo $this->getListId() ?>')
				</script>
			</div>
		</div>
	</div>
</div>

<?php endif; ?>