<div id="modalAccount" class="slideup-container half">
    <div class="slideup-content padding-top-1">
        <button onclick="toggleUp('modalAccount')" class="close-button" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="medium-11 medium-centered columns">
            <div class="label-text large">
                    <div class="title cursive">
                        Log into your account
                    </div>


                </div>


                <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form" class="form">
                    <?php echo $this->getBlockHtml('formkey'); ?>
                    <div class="form-group">


                        <?php // This column should be col-1 if the registration column is not displayed ?>
                        <div
                            class="<?php if ($this->helper('customer')->isRegistrationAllowed()): ?>col-2<?php else: ?>col-1<?php endif; ?> registered-users">
                            <div class="content">

                                <ul class="form-list no-bullet">

                                    <li>
                                        <label for="email"
                                            class="required"><?php echo $this->__('Email Address') ?></label>
                                        <div class="input-box">
                                            <input type="email" autocapitalize="off" autocorrect="off"
                                                spellcheck="false" name="login[username]"
                                                value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email"
                                                class="input-text required-entry validate-email"
                                                title="<?php echo $this->quoteEscape($this->__('Email Address')) ?>" />
                                        </div>
                                    </li>
                                    <li>
                                        <label for="pass" class="required"><?php echo $this->__('Password') ?></label>
                                        <div class="input-box">
                                            <input type="password" name="login[password]"
                                                class="input-text required-entry validate-password" id="pass"
                                                title="<?php echo $this->quoteEscape($this->__('Password')) ?>" />
                                        </div>
                                    </li>
                                    <?php echo $this->getChildHtml('form.additional.info'); ?>

                                    <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                                </ul>

                            </div>
                            <div class="buttons-set text-center">

                                <button type="submit" class="button expanded "
                                    title="<?php echo $this->quoteEscape($this->__('Login')) ?>" name="send"
                                    id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>

                                    <?php echo $this->getChildHtml('inchoo_socialconnect_login'); ?>


                            <a class="small-text text-center bold" href="<?php echo $this->getUrl('customer/account/create') ?>">
                                    Or Create an Account
                                </a>
                               

                            </div>
                            
                           

                        </div>
                    </div>
                    <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
                    <input name="context" type="hidden" value="checkout" />
                    <?php endif; ?>
                </form>
                <script type="text/javascript">
                    //<![CDATA[
                    var dataForm = new VarienForm('login-form', true);
                    //]]>
                </script>







            </div>
        </div>
        <div class="padding-top-1 padding-bottom-1 light-grey-bg margin-top-1 text-center">
            <div class="row">
                <div class="medium-11 medium-centered columns">
                    
                    <p class="tiny-text">By Login with social account you are agree to our Privacy Policy and Term &
                        Conditions</p>
                </div>
            </div>


        </div>
    </div>
</div>
