<?php 
	$layer = Mage::getSingleton('catalog/layer');
	$_category = $layer->getCurrentCategory();
	$parentCategoryId = $_category->getParentId();
	$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
	$subcats = $loadCategory->getChildren();
?>

<?php $currentCategoryId = $_category->getId(); ?>




<div id="modal-categoryNavigation" class="slideup-container half">
    <div class="slideup-content">
        <button onclick="toggleUp('modal-categoryNavigation')" class="close-button" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="list-group margin-top-2">

            <div class="list-tile padding-center">
                <a href="<?php echo $loadCategory->getURL();?>">

                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <div class="title">
                                All <?php echo $loadCategory->getName();?>
                            </div>

                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>

                            </div>


                        </div>

                    </div>
                </a>
            </div>


            <?php foreach(explode(',',$subcats) as $subCatid):?>
            <?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
            <div class="list-tile padding-center">
                <a href="<?php echo $_category->getURL();?>">

                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <div class="title">
                                <?php echo $_category->getName();?>
                            </div>

                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>

                            </div>


                        </div>

                    </div>
                </a>
            </div>
            <?php endforeach ?>
        </div>

    </div>

</div>