<?php $_product = $this->getProduct(); 

?>

<style>
.product-table table{
    width:100% !important
}
.product-table table tbody tr td{
    width:20% !important;
    border-bottom:1px solid #eeeeee;
    display:inline-table;
}

</style>




                            <div class="product-table">
                            
                            <?php  echo $_product->getSizeChart();?>


                            </div>