<div id="store-category" class="slideup-container light-grey-bg" style="background:#eeeeee !important">

    <div class="slideup-content light-grey-bg" style="background:#eeeeee !important">
    <div class="navigation-mobile-top light-grey-bg">
            <div class="flex-container horizontal justify-space-between align-center">
                <div class="flex-item">
                    <div class="title">
                        <a href="/">
                            <img height="50" width="60"
                                src="<?php echo $this->getSkinUrl('images/filotropic-logo-black.svg');?>" alt="">
                        </a>

                    </div>

                </div>
                <div class="flex-item">
                    <button class="close-button" onclick="toggleUp('store-category')">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

            </div>
        </div>

        <div class="list-group white-bg margin-bottom-05">
            <div class="list-tile padding-center ">
                <a href="<?php echo $this->getUrl('m/customer/account') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()):?>
                                <i class="fas fa-user-circle huge-text"></i> <?php echo $this->__('Login / Register');?>
                            <?php else:?>
                                <i class="fas fa-user-circle huge-text"></i> <?php echo $this->__('My Account');?>
                            <?php endif;?>

                        </div>
                       
                    </div>
                </a>

            </div>
        </div>

        <div class="list-group white-bg margin-bottom-05">
            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('new-arrivals') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('New Arrivals');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="list-tile padding-center hide">
                <a href="<?php echo $this->getUrl('filolife') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Filolife');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('tops') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Tops');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('bottoms') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Bottoms');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('dresses') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Dresses');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('blog/category/looks/') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Looks');?>
                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>




        </div>





        <div class="list-group white-bg">
           
            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('blog') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Read The Blog');?>

                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('help') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('Help');?>

                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="list-tile padding-center">
                <a href="<?php echo $this->getUrl('about') ?>">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <?php echo $this->__('About Filotropic');?>

                        </div>
                        <div class="flex-item flex-05 text-right">
                            <div class="icon"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>

            </div>



            

            




        </div>
        <div class="callout padding-center light-grey-bg">

                <ul class="menu">

                    <li><a target="_blank" href="https://www.facebook.com/filotropic-106895040800655/"><i
                                class="fab fa-facebook-f fa-2x"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/filotropic/"><i
                                class="fab fa-instagram fa-2x"></i></a></li>
            
                                <li><a target="_blank" href="https://lin.ee/5XLCoWS"> <i
                                class="fab fa-line fa-2x"></i></a></li>


                </ul>
                <ul class="menu margin-bottom-0 tiny-text">

                        <li><a href="">© 2019 Fillotropic</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="http://127.0.0.1/filotropic-magento/help/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://127.0.0.1/filotropic-magento/help/terms-conditions/">Terms and conditions</a></li>


                    </ul>

            </div>



    </div>
</div>

