<?php $promo_code = $this->getRequest()->getParam('promo_code');?>
<?php $value = $this->getRequest()->getParam('value');?>

<?php if($promo_code !== null):?>


<div id="modal-ReferalCode" class="slideup-container half">
    <div class="slideup-content text-center padding-top-1">
        <div class="label-text medium">
            <div class="label letter-spacing-1">
                REFERRAL CODE
            </div>
            <div class="title">
                Get <?php echo $value?> Discount
            </div>
            
            <p class="margin-bottom-05">Gunakan kode promo dibawah ini, pada halaman checkout</p>
                
            <span class="button small primary uppercase letter-spacing-1">
                <?php echo $promo_code?>
            </span>
            <p class="tiny-text">T&C Applied</p>
        </div>



        <button class="close-button" onclick="toggleUp('modal-ReferalCode')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script async>
    new Event.observe(window, 'load', function (e) {
        toggleUp('modal-ReferalCode')
    });
</script>



<?php endif;?>








<?php $cookieValue = Mage::getModel('core/cookie')->get('popup');?>
<?php if($cookieValue != '1' && !Mage::getSingleton('customer/session')->isLoggedIn()):?>

<div id="modal-PromoPopUp" class="slideup-container half">
    <div class="slideup-content text-left">

        <div class="callout padding-center-2x">

            <div class="label-text medium">
                <div class="title cursive">
                    Hey, Welcome to Filotropic
                </div>
                <div class="margin-bottom-05">
                    Thankyou for visiting our website. Get 10% Off discount for your first purchase
                </div>



            </div>
            <a  onclick="toggleUp('modal-PromoPopUp')"
                class="button letter-spacing-1 uppercase primary expanded ">Use Promo Code : LEISURE51</a>
           
        </div>

        <button class="close-button" onclick="toggleUp('modal-PromoPopUp')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<?php Mage::getModel('core/cookie')->set('popup','1', 60*60*24);?>

<script async>
    new Event.observe(window, 'load', function (e) {
        toggleUp('modal-PromoPopUp')
    });
</script>

<?php endif;?>







