

<div class="navigation-mobile-top white-bg">
    <div class="flex-container align-center">
        <div class="flex-item flex-1 text-left">
            <div class="icon"> <a href="<?php echo Mage::getBaseUrl();?>" class="action"><i
                        class="fas fa-arrow-left huge-text"></i></a></div>

        </div>
        
        <div class="flex-item flex-1 text-right">


        </div>

    </div>
</div>