<?php $order = $this->getOrder();?>
<?php $customer = $this->getCustomer();?>
<?php $params = $this->getRequest()->getParams();?>

<h1>Message</h1>

<div class="row small-collapse medium-uncollapse">
    <div class="medium-12 columns">
        
<div class="chat-wrapper">

<div class="chat-container">

    <ul class="no-bullet">
        <?php $allcomment = $order->getAllStatusHistory();
            // var_dump($allcomment);
            foreach ($allcomment as $comment):?>

        <?php if($comment->getData('comment') == null){
                        continue;
                    }?>

        <?php //var_dump($comment);

$customerId = $comment->getData('entity_name');
?>


        <?php if($customer->getId() == $customerId):?>
        <li class="chat margin-bottom-1">

            <div class="row">

                <div class="small-10 medium-11 columns end">
                    <div class="chat-callout white">
                        <?php if( $comment->getData('entity_name') == order):?>
                        <p>Icha <span class="tiny-text">Customer Solution</span></p>
                        <?php else:?>

                        <p><?php echo $this->getCustomerName($customerId)?></p>

                        <?php endif;?>
                        <p class="small-text"><?php echo $comment->getData('comment');?></p>
                        <span class="date"><em>(
                                <?php echo $comment->getData('created_at');?> )</em></span>
                    </div>
                </div>
                <div class="small-2 medium-1 columns end">
                    <div class="photo-profile">
                    </div>

                </div>
            </div>


        </li>
        <?php else:?>
        <li class="chat margin-bottom-1">

            <div class="row">
                <div class="small-2 medium-1 columns">
                    .
                </div>
                <div class="small-10 medium-11 columns">
                    <div class="chat-callout white">
                        <?php if( $comment->getData('entity_name') == order):?>
                        <p>Icha <span class="tiny-text">Customer Solution</span></p>
                        <?php else:?>

                        <p><?php echo $this->getCustomerName($customerId)?></p>

                        <?php endif;?>
                        <p class="small-text"><?php echo $comment->getData('comment');?></p>
                        <span class="date"><em>(
                                <?php echo $comment->getData('created_at');?> )</em></span>
                    </div>


                </div>
            </div>


        </li>
        <?php endif;?>


        <?php endforeach;?>

    </ul>
</div>


<div class="type-container">
    <form method="post" action=<?php echo $this->getUrl("exp/inboxorder/send", $params) ?>>


        <div class="row">

            <div class="small-10 medium-10 columns">
                <input class="chat-input" name="pesan" style="padding:0.5rem;" type="text"
                    placeholder="masukkan pesan anda">

            </div>
            <div class="small-2 medium-2 columns">
                <button type="submit" value="send" class="button hollow secondary expanded">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>


    </form>

</div>
</div>

    </div>
</div>









<script>
    function goBack() {

        window.history.back();
    }
</script>


<style>
    .chat-wrapper{
        position:relative;
        border:1px solid #eee;
    }
    .chat-container {
        padding: 3%;
        background: #eee;
        max-height: 80vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }


    .chat-input {
        border: 1px solid #eee;
        
    }

    .type-container {
        padding: 3%;
        position: absolute;
        bottom: 0;
        width:100%;
        left:0;
        background:white
    }
    @media only screen and (max-width: 600px) {
        .type-container {
        position: relative;
        
       
    }
    .chat-container {

        max-height: 65vh;
    }
}

    .photo-profile {
        border-radius: 100%;

    }

    .chat-callout {
        background: white;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }

    .date {
        font-size: 8px;
        color: #ccc
    }
    button{
        border:none !important
    }
</style>


