

<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<style>
	.post-featured-image {
		width: 250px;
		height: 150px;
		object-fit: cover;
	}

	@media only screen and (max-width: 600px) {
		.post-featured-image {
			width: 400px;
			height: 250px;
			object-fit: cover;
		}
	}
</style>


<?php  $path = $this->getRequest()->getParam('id');?>

<?php  $posts = Mage::getResourceModel('wordpress/post_collection')
           ->addPostTypeFilter('inspiration');?>


<?php if (count($posts) > 0): ?>
<div class="row medium-up-3">

	<?php foreach($posts as $post): ?>
	<?php $author = $post->getAuthor() ?>

	<div class="columns">
		
   
            <?php if ($featuredImage = $post->getFeaturedImage()): ?>
						<div class="featured-image left margin-bottom-05">
						<a href="/looks/view?id=<?php echo $post->getId() ?>">
							<img class="post-featured-image" src="<?php echo $featuredImage->getFullSizeImage() ?>"
								alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
						</a>

					</div>
					<?php endif; ?>
				<div class="label-text">
						<h2 class="cursive">

                        <a href="/looks/view?id=<?php echo $post->getId() ?>">
						
							
								<?php echo $this->htmlEscape($post->getPostTitle()) ?>
							</a>
						</h2>

						<div class="author uppercase small-text letter-spacing-1 margin-bottom-05">
							<img class="avatar-image margin-right-05" height="35" width="35"
								src="<?php echo $author->getGravatarUrl('100');?>" />
							By <?php echo $post->getAuthor()->getDisplayName()?> - <?php echo $post->getPostDate()?>
						</div>
						<div class="description">
							<?php echo $post->getPostExcerpt() ?>
						</div>



					</div>

		

	</div>



	<?php endforeach; ?>

	<script type="text/javascript">
		decorateList($('post-list'));
	</script>

</div>
<?php endif; ?>
<?php echo $this->getPagerHtml() ?>