<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<div class="row">
	<div class="medium-12 columns">
		<div class="label-text huge" >
			<div class="title margin-0" style="margin:0">
			<?php echo $this->escapeHtml($this->getBlogTitle()) ?>
			</div>
			
			<?php if ($this->isFirstPage() && $this->getTagLine()): ?>
				<div class="description cursive italic"><?php echo $this->escapeHtml($this->getTagLine()) ?></div>
			<?php endif; ?>
		
		</div>

	</div>
	<div class="medium-8 columns">
	<div class="blog-home">
	<?php echo $this->getPostListHtml() ?>
</div>

	</div>
	<div class="medium-4 columns">
	
				<a href="https://filotropic.com/new-arrivals/">
				<img src="https://filotropic.com/media/wysiwyg/promo-banner/WEBSITEBAR.jpg" alt="">

			</a>
				
		
	</div>
</div>
