<?php 
    $terms = Mage::getResourceModel('wordpress/term_collection');
    $terms->addTaxonomyFilter('category');
?>

<style>
    .blog-menu{
        padding:0.5rem 1rem;
    }
    .blog-menu li a{
        line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid;
    padding: 0.3rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 25px;
       
    }
    .blog-menu li a:hover{
        opacity:0.4;
    }
    .flex-container .scroll-item-35{
        flex: none;
    }
    .chip{
        border:1px solid #51473c;
        font-size:14px;
        padding:0.6rem 0.8rem;
        color:#51473c;
        border-radius:20px;
    }
    .breadcrumbs{
        display:none
    }
</style>

<div class="blog-menu border-bottom show-for-medium">
    
<div class="flex-container align-center justify-end">


    <ul class="menu align-center">
    <li style=" line-height: 20px;
    font-size: 14px;
    font-weight: 500;
  
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
">
        
           READ THE BLOG : 
       
    </li>

        <?php  foreach($terms as $_terms):?>

        <?php if($_terms->getName() == 'Uncategorized' || $_terms->getName() == 'Looks'){
            continue;
        }?>
        

        <li>
            <a href=" <?php echo $_terms->getUrl() ?>">
                <?php echo $_terms->getName() ?>
            </a>
        </li>

        <?php endforeach;?>



    </ul>



</div>
</div>



<div class="flex-container scroll-container padding-center border-bottom show-for-small-only">

        <?php  foreach($terms as $_terms):?>

            <?php if($_terms->getName() == 'Uncategorized' || $_terms->getName() == 'Looks'){
            continue;
        }?>

        <div class="flex-item scroll-item-35">
            <a class="chip" href=" <?php echo $_terms->getUrl() ?>">
                <?php echo $_terms->getName() ?>
            </a>
        </div>

        <?php endforeach;?>



    </div>
