<?php $post = Mage::getModel('wordpress/post')->load(5);?>


<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1170219649838339&autoLogAppEvents=1"></script>
<style>
	.breadcrumbs {
		display: none
	}
	.wp-block-columns{
		display:flex;
		

	}
	.wp-block-image{
		padding:2px;
	}
	.wp-block-embed__wrapper iframe{
		position:relative;
		width:100% !important;
		height:500px !important;
		margin-bottom:2rem;
	}
	

blockquote, blockquote p {
    line-height: 1.6;
    color: #333333;
	font-size:20px !important;
}

blockquote {
  margin:1rem 0;
    border-left: 2px solid #333333;
}
	.post-entry h3{
		margin-bottom: 2rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
	}

	.wp-block-image .post-entry img{
			margin-bottom: 0 !important;
	}

	figcaption{
		text-align:center;
		text-transform:uppercase;
		font-size:10px;
		margin-bottom:1rem;
		font-family:gotham
	}
	.post-view a{
        color:#b79472!important
    }
</style>

<?php if ($post): ?>
<?php $helper = $this->helper('wordpress') ?>
<?php $author = $post->getAuthor() ?>

<!-- Your share button code -->


<?php if ($featuredImage = $post->getFeaturedImage()): ?>
<div class="featured-image left">
	<img class="cover" src="<?php echo $featuredImage->getFullSizeImage() ?>"
		alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
</div>
<?php endif; ?>
<section class="padding-center">
	<div class="row">
		<div class="medium-12 medium-centered columns">

			<div class="page-title post-title text-center label-text huge margin-bottom-2">

	


				<h1 class="cursive">
					<div class="title">
						<?php echo $this->escapeHtml($post->getPostTitle()) ?>
					</div>

				</h1>


				<div class="description margin-bottom-05">
					<?php echo $post->getPostExcerpt() ?>
				</div>
				
				
			
				<div class="author uppercase small-text letter-spacing-1">
					<img class="avatar-image margin-right-05" height="40" width="40" src="<?php echo $author->getGravatarUrl('150');?>"/>
 By <?php echo $post->getAuthor()->getDisplayName()?> - <?php echo $post->getPostDate()?>
				</div>

<div style="position: fixed;
    z-index: 9999999999999999999;
    top: 30%;
    left: 0;" >
<div class="fb-share-button" 
    data-href="<?php echo $post->getPermalink() ?>" 
	data-size="large"

    data-layout="box_count">
  </div>

</div>

				
				

			




			</div>
			<div class="row">
				<div class="medium-10 medium-centered columns">

					<div class="post-view">




						<?php echo $this->getBeforePostContentHtml() ?>
						<div
							class="post-entry entry cursive std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
							<?php if ($post->isViewableForVisitor()): ?>

							<?php echo $post->getPostContent() ?>
							<?php else: ?>
							<?php echo $this->getPasswordProtectHtml() ?>
							<?php endif; ?>
						</div>
						
						<?php echo $this->getAfterPostContentHtml() ?>
						<div class="padding-center ">
					<a href="https://filotropic.com/new-arrivals/">
					<img  src="https://filotropic.com/media/wysiwyg/promo-banner/BLOGBANNER.jpg" alt="">
					</a>

			
				</div>

				
			
				

					<div id="disqus_thread"></div>
						<script>

						var disqus_config = function () {
						this.page.url = '<?php echo $post->getPermalink() ?>';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '<?php echo $post->getId() ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};

						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://filotropic.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
													




					</div>

				

				</div>
			</div>

		</div>
	</div>

</section>



<?php endif; ?>