<?php $category_goods = Mage::getModel('catalog/category')->load(659) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>



<section id="featured-category">
<div class="label-text padding-center small">
        <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
                <div class="title uppercase">
                   Shop By Categories
                </div>

            </div>
            
        </div>
    </div>
        <div id="featured-product" class="flex-container scroll-container">


                <?php foreach($_categories as $_subcategory): ?>

                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>

                <div class="flex-item scroll-item-35">
                        <div class="card-goods-product-two text-center">

                                <div class="card-image margin-bottom-2">
                                       

                                        <a href=" <?php echo $_subcategory_obj->getUrl()?>">

                                                <img width="350" height="260" class="lazy"
                                                        src="<?php echo $_subcategory_obj->getResizedThumbnailImage(200,150,90); ?>"
                                                        data-srcset="<?php echo $_subcategory_obj->getResizedThumbnailImage(400,300,90); ?> 2x, <?php echo $_subcategory_obj->getResizedThumbnailImage(300,150,90); ?> 1x"
                                                        data-src="<?php echo $_subcategory_obj->getResizedThumbnailImage(300,150,90); ?>">

                                                </a>


                                </div>
                                <div class="card-content">
                                        <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                <h2>
                                                        <?php echo $_subcategory_obj->getName()?>
                                                </h2>
                                        </a>

                                </div>

                        </div>
                </div>


                <?php endforeach;?>
        </div>



</section>