<?php

$_categoryId = $this->getCategoryId();
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
 ->getProductCollection()
 ->addAttributeToSelect('*') // add all attributes - optional
 ->addAttributeToFilter('status', 1) // enabled
 ->addAttributeToFilter('visibility', 4) //visibility in catalog,search
 ->setOrder('price', 'ASC'); //sets the order by price

?>


<style>


#featured-product .card-goods-product-item .price{
    color:brown;
    font-size:16px !important;
}

#featured-product .card-goods-product-item .price .price-box .old-price .price{
         font-size:10px !important;
         color:#999;   
        }

        .flex-container .scroll-item-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 43%;
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
    margin-right: 2%;
}


</style>


<section class="padding-center border-top medium-grey-bg">
        <div class="row">
                <div class="medium-12 columns">
                        <div class="label-text small">
                        <div class="title">
                                      Voucher Undian 
                                </div>

                                <div class="subtitle">
                                Waktu Tersisa  [ <span id="undian" style="color:brown"></span> ] 
                                </div>

                              


                                
                                <script>
                                        document.observe("dom:loaded", function() 
                                        {
                                                countdown('Dec 12, 2019 12:00:00','undian');
                                        });
                                </script>
                        </div>

                </div>
        </div>
        <div class="row collapse">
               <div class="medium-12 columns">
               <div id="featured-product" class="flex-container scroll-container">
                        <?php  foreach ($_productCollection as $_product):?>
                           
                            <?php $_convertedFinalPrice = $_product->getFinalPrice(); ?>
                       
                               <div class="flex-item scroll-item-75">
                               <div class="card-goods-product-item elevate light-grey-bg">
                                       

                                       <div class="image">
                                               <a href="<?php echo $_product->getProductUrl() ?>"
                                                       title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                                                       class="product-image">
                                                       <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                                                               one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                                                               we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                                                               will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                                                               This $_imgSize value could even be decreased further, based on the page layout
                                                               (one column, two column, three column) and number of product columns. */ ?>
                                                       <?php $_imgSize = 300; ?>
                                                     
                                                       <img width="300" height="300" class="lazy"
                                                       src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>"
                                                       data-srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(400,400); ?> 2x, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200,200); ?> 1x"
                                                       data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>"
                                                       alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">

                      


                                               </a>
                                       </div>
                                       <div class="label bold">
                                       <i class="fas fa-tags"></i> Voucher Undian
                                       </div>
                                       <a href="<?php echo $_product->getProductUrl() ?>"
                                               title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">

                                               <div class="title">
                                                       <?php $prod_name = $_product->getName(); ?>
                                                       <?php
                                                                       $count_str = strlen($prod_name);
                                                                       if ($count_str < 30) {
                                                                               echo $prod_name;
                                                                       } else {
                                                                               $offset = 0;
                                                                               $length = 31;   
                                                                               $prod_name = html_entity_decode($prod_name);                     
                                                                               echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                                                                       }
                                                                       ?>

                                               </div>
                                       </a>
                                       <div class="price bold" style="font-size:20px !important;color:brown">
                                       <?php echo $this->getPriceHtml($_product, true) ?>
                                               <!-- <div class="special-price">
                                                               Rp 3.000.000,00
                                                               </div>
                                                               <div class="normal-price">
                                                               Rp 3.000.000,00
                                                               </div> -->
                                              

                                       </div>




                               </div>
                               </div>
                        
                        <?php endforeach ?>

                </div>
               </div>

        </div>

</section>


<script>

function countdown(date,id){
        
                // Set the date we're counting down to
        var countDownDate = new Date(date).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
        
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id="demo"
        document.getElementById(id).innerHTML = "-" + days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
        
        // If the count down is over, write some text 
        if (distance < 0) {
        clearInterval(x);
        document.getElementById(id).innerHTML = "EXPIRED";
        }
        }, 1000);
}

</script>
