<?php $_helper = Mage::helper('catalog/category') ?>

<?php $categoryId = $this->getCategoryId();?>
<?php $label = $this->getCategoryLabel();?>
<?php $title = $this->getCategoryTitle();?>
<?php $promocode = $this->getCategoryPromocode();?>
<?php $description = $this->getCategoryDescription();?>

<?php $category = Mage::getModel('catalog/category')->load(3) ?>


<section id="banner-hero" class="hero-banner">
    <a href="<?php echo $this->getUrl('new-arrivals') ?>">
        <div class="hero-banner-container text-center">
            <div class="hero-banner-image">
                <img src="<?php echo $category->getResizedLogoImage(1080,1080,80)?>" alt="">

                
            </div>
         
        </div>
    </a>


</section>




<style>
    .std {
        display: none
    }
</style>
