<?php

$_categoryId = '734';//$this->getCategoryId();
$_category = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)


    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->joinField(
        'stock_status',
        'cataloginventory/stock_status',
        'stock_status',
        'product_id=entity_id', array(
          'stock_status' => Mage_CatalogInventory_Model_Stock_Status::STATUS_IN_STOCK,
          'website_id' => Mage::app()->getWebsite()->getWebsiteId(),
        )
    )
   
    ->setPageSize(20);

   



?>


<section class="padding-center border-top" style="background:cornsilk">
        <div class="row">
                <div class="medium-12 columns">
                        <div class="label-text small">
                        <div class="title">
                                      Flashdeals 
                                </div>
                                <div class="subtitle">
                                Waktu Tersisa [ <span id="flashdeal" style="color:brown"></span> ] 
                                </div>

                                <script>
                                        document.observe("dom:loaded", function() 
                                        {
                                                flashdeals('Dec 11, 2019 12:00:00','flashdeal');
                                        });
                                </script>
                        </div>

                </div>
        </div>
        <div class="row collapse">
               <div class="medium-12 columns">
               <div id="featured-product" class="flex-container scroll-container">
                        <?php  foreach ($_productCollection as $_product):?>
                           
                                <?php $normal_price = $_product->getPrice()?>
                                
                                <?php $_convertedFinalPrice = $_product->getFinalPrice(); ?>
                                <?php $percent = (($normal_price - $_product->getFinalPrice()) / $normal_price )  * 100;
                                         //echo $percent;
                                            ?>
                       
                               <div class="flex-item scroll-item-45">
                               <div class="card-goods-product-item white-bg">
                               <span class="button  tiny primary">
                                       <?php echo $percent?>% OFF

                                       </span>

                                        <div class="image">
                                                <a href="<?php echo $_product->getProductUrl() ?>"
                                                        title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                                                        class="product-image">
                                                        <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                                                                one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                                                                we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                                                                will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                                                                This $_imgSize value could even be decreased further, based on the page layout
                                                                (one column, two column, three column) and number of product columns. */ ?>
                                                        <?php $_imgSize = 300; ?>
                                                      
                                                        <img width="300" height="300" class="lazy"
                                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>"
                                                        data-srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(400,400); ?> 2x, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200,200); ?> 1x"
                                                        data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>"
                                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">

                       


                                                </a>
                                        </div>
                                        <div class="label bold">
                                                <?php if (!empty( $_product->getBrand())):?>
                                                <?php echo $_product->getAttributeText("brand");?>
                                                <?php endif;?>
                                        </div>
                                        <a href="<?php echo $_product->getProductUrl() ?>"
                                                title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">

                                                <div class="title">
                                                        <?php $prod_name = $_product->getName(); ?>
                                                        <?php
                                                                        $count_str = strlen($prod_name);
                                                                        if ($count_str < 30) {
                                                                                echo $prod_name;
                                                                        } else {
                                                                                $offset = 0;
                                                                                $length = 31;   
                                                                                $prod_name = html_entity_decode($prod_name);                     
                                                                                echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                                                                        }
                                                                        ?>

                                                </div>
                                        </a>
                                        <div class="price">
                                        <div class="price bold" style="font-size:20px !important;color:brown">
                                              
                                                <!-- <div class="special-price">
                                                                Rp 3.000.000,00
                                                                </div>
                                                                <div class="normal-price">
                                                                Rp 3.000.000,00
                                                                </div> -->

                                                                <?php echo $this->getPriceHtml($_product, true) ?>
                                               

                                        </div>

                                             

                                        </div>




                                </div>
                               </div>
                        
                        <?php endforeach ?>

                </div>
               </div>

        </div>

</section>




<script>

function flashdeals(date,id){
        
             
                // Set the date we're counting down to
                var countDownDate = new Date(date).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

// Get today's date and time
var now = new Date().getTime();

// Find the distance between now and the count down date
var distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
document.getElementById(id).innerHTML = "-" + hours + "h "
+ minutes + "m " + seconds + "s ";

// If the count down is over, write some text 
if (distance < 0) {
clearInterval(x);
document.getElementById(id).innerHTML = "EXPIRED";
}
}, 1000);
}

</script>

