<?php $_categoryId = $this->getCategoryId();?>

<div id="featured-product-<?php echo $_categoryId?>"><?php echo $_categoryId?></div>

<script>
    new Event.observe(window, 'load', function (e) {
        getFeaturedProducts(<?php echo $_categoryId?>)
    });
</script>
