<?php $_product = $this->getProduct();?>

<?php if($_product->getAttributeSetId() == 4): //homeliving?>
<div class="info-container">
    <ul class="accordion desktop" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Details</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
                <?php echo $_product->getProductDetails();?>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Measurement</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>

            <?php echo $_product->getSizeChart();?>

            </div>
        </li>

        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Model Details</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>

                <?php echo $_product->getModelDetails();?>

            </div>
        </li>

        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Fabric & Care</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
                <div class="small-texts margin-bottom-1">
                    <div class="bold">Fabric</div>
                    <?php echo $_product->getFabric();?>
                </div>
                <div class="small-texts">
                    <div class="bold">Care</div>
                    <?php echo $_product->getCare();?>
                </div>



            </div>
        </li>
        <!-- ... -->
    </ul>

</div>
<?php endif?>
<?php if($_product->getAttributeSetId() == 12): ?>
<div class="info-container">
    <ul class="accordion desktop" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Details</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
                <?php echo $_product->getProductDetails();?>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Measurement</a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>

            <?php echo $_product->getSizeChart();?>

            </div>
        </li>

      
        
        <!-- ... -->
    </ul>

</div>
<?php endif?>
