<?php
	$terms = explode(',', $this->getCategoryId());
    
  
?>



<section id="padding-center" class="border-bottom padding-center">
    <div class="row">
        <div class="medium-12 columns">

            <div class="label-text large">
                <div class="label">
                    Filolife
                </div>
                <div class="title cursive">
                    Way to live eco-friendly life
                </div>
            </div>
        </div>
    </div>
    <div class="row medium-up-3">
        <?php foreach ($terms as $term):?>
        <?php $category = Mage::getModel('catalog/category')->load($term);?>
        <div class="columns">
            <div class="brand-item margin-bottom-1">
                <a href="<?php echo $category->getUrl();?>">
                    <img class="cover-image" src="<?php echo $category->getImageUrl();?>" alt="">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-3">
                            <div class="callout">
                                <div class="small-text margin-bottom-05">
                                    Home & Living
                                </div>
                                <div class="title">
                                    <?php echo $category->getName()?>
                                </div>
                                <div class="subtitle">
                                    <?php echo $category->getDescription()?>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <img style="background:#eee;min-height:45px;min-width:45px" height="45" width="45" class="avatar-image" src="" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <?php endforeach;?>
    </div>
</section>


<style>
    .cover-image {
        object-fit: cover;
        height: 200px;
        width: 350px;
    }
</style>