<?php
	$terms = explode(',', $this->getCategoryId());
    
?>

<?php $category = Mage::getModel('catalog/category')->load(Mage::registry('current_category')->getId());?>



<section id="banner-hero" class="hero-banner">
    <div class="hero-banner-container">
        <div class="hero-banner-image">
            <img src="<?php echo $category->getImageUrl();?>" alt="">
        </div>
        <div class="hero-banner-content white text-left" style="background: rgba(183,148,114,0.2);padding: 10% 0">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="label-text huge show-for-medium">
                        <h5>
                            Filolife
                        </h5>
                        <p class="title">
                            Way to live eco-friendly life
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>




<section id="padding-center" class="border-bottom padding-center">

    <div class="row medium-up-3">
        <?php foreach ($terms as $term):?>
        <?php $category = Mage::getModel('catalog/category')->load($term);?>
        <div class="columns">
            <div class="brand-item margin-bottom-1">
                <a href="<?php echo $category->getUrl();?>">
                    <img class="cover-image" src="<?php echo $category->getImageUrl();?>" alt="">
                    <div class="flex-container">
                        <div class="flex-item flex-3">
                            <div class="callout">
                                <div class="small-text margin-bottom-05">
                                    Homeliving
                                </div>
                                <div class="title">
                                    <?php echo $category->getName()?>
                                </div>
                                <div class="subtitle">
                                    <?php echo $category->getDescription()?>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <img src="" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <?php endforeach;?>
    </div>
</section>


<style>
    .cover-image {
        object-fit: cover;
        height: 200px;
        width: 350px;
    }
</style>