<?php $category_goods = Mage::getModel('catalog/category')->load(659) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>




<section id="featured-category" class="padding-center border-bottom">
        <div class="row">
                <div class="medium-8 medium-centered columns">
                        <div class="label-text medium text-center">
                                <div class="title cursive">
                                        Shop the summer looks
                                </div>
                                <div class="subtitle">
                                        The spectacle before us was indeed sublime, The spectacle before us was indeed
                                        sublime
                                </div>
                        </div>
                </div>
        </div>
        <div class="row medium-up-3">
                <div class="columns">
                        <div class="card-global-four">
                                <a href="#">
                                        <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                alt="">
                                        <div class="content-container">

                                                <div class="bottom text-center">

                                                        <div class="label">
                                                                40% Off
                                                        </div>
                                                        <div class="title">
                                                                All Woman tops
                                                        </div>


                                                        <span href="#" class="button secondary">
                                                                Shop Now
                                                        </span>
                                                </div>


                                        </div>
                                </a>
                        </div>
                </div>
                <div class="columns">
                        <div class="card-global-four">
                                <a href="#">
                                        <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                alt="">
                                        <div class="content-container">

                                                <div class="bottom text-center">

                                                        <div class="label">
                                                                40% Off
                                                        </div>
                                                        <div class="title">
                                                                All Woman tops
                                                        </div>


                                                        <span href="#" class="button secondary">
                                                                Shop Now
                                                        </span>
                                                </div>


                                        </div>
                                </a>
                        </div>
                </div>
                <div class="columns">
                        <div class="card-global-four">
                                <a href="#">
                                        <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                alt="">
                                        <div class="content-container">

                                                <div class="bottom text-center">

                                                        <div class="label">
                                                                40% Off
                                                        </div>
                                                        <div class="title">
                                                                All Woman tops
                                                        </div>


                                                        <span href="#" class="button secondary">
                                                                Shop Now
                                                        </span>
                                                </div>


                                        </div>
                                </a>
                        </div>
                </div>
        </div>
</section>