<?php

$_categoryId = '734';//$this->getCategoryId();
$_category = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)


    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->joinField(
        'stock_status',
        'cataloginventory/stock_status',
        'stock_status',
        'product_id=entity_id', array(
          'stock_status' => Mage_CatalogInventory_Model_Stock_Status::STATUS_IN_STOCK,
          'website_id' => Mage::app()->getWebsite()->getWebsiteId(),
        )
    )
   
    ->setPageSize(20);

   



?>

<section id="featured-product" class="padding-center border-bottom">
        <div class="row">
                <div class="medium-8 medium-centered columns">
                        <div class="label-text medium text-center">
                                <div class="title cursive">
                                        New Arrivals
                                </div>

                        </div>
                </div>
        </div>
        <div class="row small-up-2 medium-up-4">
                <div class="columns">
                        <div class="card-goods-product-item">

                                <a href="#">
                                        <div class="image">
                                                <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                        alt="">
                                        </div>
                                        <div class="label">
                                                Hand Printed
                                        </div>
                                        <div class="title">
                                                Kimono dress
                                        </div>
                                        <div class="price">
                                                <div class="special-price">
                                                        Rp 3.000.000,00
                                                </div>



                                        </div>
                                </a>



                        </div>
                </div>
                <div class="columns">
                        <div class="card-goods-product-item">

                                <a href="#">
                                        <div class="image">
                                                <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                        alt="">
                                        </div>
                                        <div class="label">
                                                Hand Printed
                                        </div>
                                        <div class="title">
                                                Kimono dress
                                        </div>
                                        <div class="price">
                                                <div class="special-price">
                                                        Rp 3.000.000,00
                                                </div>



                                        </div>
                                </a>



                        </div>
                </div>
                <div class="columns">
                        <div class="card-goods-product-item">

                                <a href="#">
                                        <div class="image">
                                                <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                        alt="">
                                        </div>
                                        <div class="label">
                                                Hand Printed
                                        </div>
                                        <div class="title">
                                                Kimono dress
                                        </div>
                                        <div class="price">
                                                <div class="special-price">
                                                        Rp 3.000.000,00
                                                </div>



                                        </div>
                                </a>



                        </div>
                </div>
                <div class="columns">
                        <div class="card-goods-product-item">

                                <a href="#">
                                        <div class="image">
                                                <img src="https://images.unsplash.com/photo-1496217590455-aa63a8350eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=1000&q=80"
                                                        alt="">
                                        </div>
                                        <div class="label">
                                                Hand Printed
                                        </div>
                                        <div class="title">
                                                Kimono dress
                                        </div>
                                        <div class="price">
                                                <div class="special-price">
                                                        Rp 3.000.000,00
                                                </div>



                                        </div>
                                </a>



                        </div>
                </div>
        </div>
</section>
