<?php $category_goods = Mage::getModel('catalog/category')->load(198) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>



<section id="featured-looks" class="padding-center">
        <div class="row">
                <div class="medium-6 columns">
                        <img src="https://lh3.googleusercontent.com/yBNbdy9cu8eHS_UVDz-FzBFvXKa9KFVHCPRDwJorzOnQruLOmPptll9O5hu6_D_OeqT26QlIVsykruNU9RUsRC-L9Ix3ICWOReOeLC-5kjcqF_gAcezoC396udQ_d7m7Z2pAIuB4jHmcpEVlf-n9c6C8BO2w-ZOqsAIv_oONX6HhaW2P0b64XR8dkvzPZIDqxT-yKmFW6_DA26e25s5fSEL6HJW6bsW6syYwuX0tuZhTgMRynsMLbHOvf1wLlSDLKhRJopP91jHstndrFDTPHE8B6nMyw_9xEqIDVWIfCJ2dV22lycDs0MVuW_hdXZrVx0GxwkzNurf6M5C7xc0FN0C-lWiw96WnZuNqFBSacL8g8wssrsE-MEqUZQacT3AI9Ytf7iFbJvR0cT0Y0S4vmmUsJ2cYb3FBJkyvgdHfZ6jLVr0KdJwTqfyn2PJQ8g-p37rmE7dsbwBIS0upISHFkqE3HvYrvwQu5RJHo6ys45vBjf-0R1cGA3AB7kwq0mh8E2oWdIByHJVs_8xtITqsjbNfMZsrxOmmNLnCuU4fRHsq5Z79TuPjs6iZs76QuyO8-xdVfZktOgNBTjy-YHxQqGyP_5WwTdYLwMkR-IbTMWj3GV5DqALy4HniQScGWM_rpiI72gpIAd_k-_DnB9o2_ixU0GN_fwgA8Js1pQqW3wPanGR5ktFiSEM-CJSVbKGKy5JNF9ShgLwtD4unV7F0BqmRHTfouqZcOgkhJ2B6vskYITo=w1418-h946-no" alt="">
                        
                </div>
            <div class="medium-6 columns">
                    <div class="label-text large padding-center">
                           <div class="label">Our Story</div>
                                    <div class="title cursive">
                                           Learn behind the brain of filotropic ( About Us )
                                    </div>
                                    <div class="description">
                                            The spectacle before us was indeed sublime, The spectacle before us was indeed sublime
                                    </div>
                        </div>
                        <a href="#" class="button secondary">View Looks</a>
    
            </div>
           
        </div>
    </section>
