<?php $category = Mage::getModel('catalog/category')->load(Mage::registry('current_category')->getId());?>



<section id="banner-hero" class="hero-banner">
    <div class="hero-banner-container text-center">
        <div class="hero-banner-image">

            <img src="<?php echo $category->getImageUrl();?>" alt="">
        </div>
        <div class="hero-banner-content white" style="background: rgba(183,148,114,0.5);padding: 15% 0">
            <div class="row show-for-medium">
                <div class="medium-12 columns">
                    <div class="label-text huge ">
                        <h5>
                            Home & Living
                        </h5>
                        <h1 class="title">
                            <?php echo $category->getName();?>
                            </1>
                            <div class="description cursive italic">
                                <?php echo $category->getDescription();?>
                            </div>



                    </div>
                </div>
            </div>


        </div>
    </div>


</section>

<div class="row show-for-small-only">
    <div class="medium12 columns">

        <div class="label-text medium">
            <div class="small-text margin-bottom-05">
                Home & Living
            </div>
            <div class="title margin-bottom-0">
                <?php echo $category->getName();?>
            </div>
            <div class="description ">
                <?php echo $category->getDescription();?>
            </div>

        </div>

    </div>
</div>



<style>
    .global-navigation a {
        color: white !important;
    }

    .global-navigation {
        z-index: 9999999999999999999;
        border: none !important;
        background: none !important;
        position: absolute;
        width: 100%;
    }
</style>