<?php $_helper = Mage::helper('catalog/category') ?>

<?php $categoryId = $this->getCategoryId();?>
<?php $label = $this->getCategoryLabel();?>
<?php $title = $this->getCategoryTitle();?>
<?php $promocode = $this->getCategoryPromocode();?>
<?php $description = $this->getCategoryDescription();?>

<?php $category = Mage::getModel('catalog/category')->load(3) ?>


<section id="banner-hero" class="hero-banner">
    <a href="<?php echo $this->getUrl('new-arrivals') ?>">
        <div class="hero-banner-container text-center">
            <div class="hero-banner-image">
                <img class="show-for-medium" src=" <?php echo $category->getImageUrl();?>" alt="">

                <img class="show-for-small-only" src="<?php echo $category->getResizedLogoImage(1080,1080,80)?>" alt="">
            </div>
        </div>
    </a>

</section>

<div class="padding-center">
    <div class="row">
        <div class="columns-12 columns text-center">
            <div class="label-text small">
                <div class="title">
                    Shop the Collection
                </div>
            </div>
            <div class="flex-container">
               
                <div class="flex-item flex-1 margin-right-1">
                    <a href="https://filotropic.com/collection/summerwear">
                        <img src="https://filotropic.com/media/catalog/category/Instagram_Story_19_2x.jpg" alt="">
                    </a>

                </div>

              
                <div class="flex-item flex-1">
                    <a href="https://filotropic.com/collection/summerwear">
                        <img src="https://filotropic.com/media/catalog/category/Instagram_Story_25_2x_1.jpg" alt=""></a>

                </div>

            </div>
        </div>
    </div>

</div>


<style>
    .std {
        display: none
    }
</style>

