<?php $category_goods = Mage::getModel('catalog/category')->load(198) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>



<section id="featured-category" class="padding-center">
    <div class="row">
        <div class="medium-12 columns">
            <div class="label-text medium">
                <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                        <div class="title">
                            Editor's Pick
                        </div>

                    </div>
                    <div class="flex-item">
                        <a href="<?php echo $category_goods->getUrl()?>">View More</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="medium-12 columns">

            <div id="featured-activities" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">

                <?php foreach($_categories as $_subcategory): ?>

                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>

                <div class="item">
                    <div class="card-global-four">
                        <a href="<?php echo $_subcategory_obj->getUrl()?>">
                            <img width="400" height="500" class="lazy"
                                src="<?php echo $_subcategory_obj->getResizedThumbnailImage(350,260,78); ?>"
                                data-srcset="<?php echo $_subcategory_obj->getResizedThumbnailImage(700,520,78); ?> 2x, <?php echo $_subcategory_obj->getResizedThumbnailImage(350,260,78); ?> 1x"
                                data-src="<?php echo $_subcategory_obj->getResizedThumbnailImage(350,260,78); ?>">
                            <div class="content-container">
                                <div class="promo">
                                    <?php echo $_subcategory_obj->getData('category_promo')?>
                                </div>
                                <div class="bottom">
                                    <div class="label">
                                        <?php echo $_subcategory_obj->getName()?>
                                    </div>
                                    <div class="title">
                                        <?php echo $_subcategory_obj->getData('category_title')?>
                                    </div>

                                    <span class="button primary radius">
                                        Shop Now
                                    </span>
                                </div>


                            </div>
                        </a>
                    </div>

                </div>


                <?php endforeach;?>
            </div>
        </div>
    </div>
</section>