<?php $category_goods = Mage::getModel('catalog/category')->load(373) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>



<section id="featured-activities" class="padding-center">
    <div class="row medium-up-3">

        <?php foreach($_categories as $_subcategory): ?>

        <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>

        <div class="columns">


            <div class="card-global-two">

                <a href="<?php echo $_subcategory_obj->getUrl()?>">
                    <div class="image-container">
                        <img width="400" height="500" class="lazy"
                            src="<?php echo $_subcategory_obj->getResizedThumbnailImage(700,500,78); ?>"
                            data-srcset="<?php echo $_subcategory_obj->getResizedThumbnailImage(700,500,78); ?> 2x, <?php echo $_subcategory_obj->getResizedThumbnailImage(700,500,78); ?> 1x"
                            data-src="<?php echo $_subcategory_obj->getResizedThumbnailImage(700,500,78); ?>">

                    </div>

                    <div class="content-container">
                        <div class="label uppercase small-text">
                            <?php echo $_subcategory_obj->getName()?>
                        </div>

                        <div class="title margin-bottom-1">
                            <h2> <?php echo $_subcategory_obj->getData('category_title')?></h2>
                        </div>
                        <div class="description">
                            <?php echo $_subcategory_obj->getData('category_short_description')?>
                        </div>

                        <div class="button primary radius tiny">
                            View Promo
                        </div>

                    </div>
                </a>

            </div>

        </div>


        <?php endforeach;?>
    </div>
</section>