<?php $category_goods = Mage::getModel('catalog/category')->load(198) ?>
<?php $_categories = $category_goods->getChildrenCategories() ?>



<section id="featured-activities" class="padding-center">
    <div class="row medium-up-3">

        <?php foreach($_categories as $_subcategory): ?>

        <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>

        <div class="columns">
            <div class="card-global-four">
                <a href="<?php echo $_subcategory_obj->getUrl()?>">
                    <img width="400" height="500" class="lazy"
                        src="<?php echo $_subcategory_obj->getResizedThumbnailImage(400,500,78); ?>"
                        data-srcset="<?php echo $_subcategory_obj->getResizedThumbnailImage(800,1000,78); ?> 2x, <?php echo $_subcategory_obj->getResizedThumbnailImage(400,500,78); ?> 1x"
                        data-src="<?php echo $_subcategory_obj->getResizedThumbnailImage(400,500,78); ?>">
                    <div class="content-container">
                        <div class="promo">
                            <?php echo $_subcategory_obj->getData('category_promo')?>
                        </div>
                        <div class="bottom">
                            <div class="label">
                                <?php echo $_subcategory_obj->getName()?>
                            </div>
                            <div class="title">
                                <?php echo $_subcategory_obj->getData('category_title')?>
                            </div>

                            <span class="button primary radius">
                                Shop Now
                            </span>
                        </div>


                    </div>
                </a>
            </div>

        </div>


        <?php endforeach;?>
    </div>
</section>