<?php $posts = Mage::getResourceModel('wordpress/post_collection')
	->addPostTypeFilter('post')
	->setOrderByPostDate()
	->addIsViewableFilter()
	->setPageSize(2)
    ->load();
    ?>
<style>
	.post-featured-image {
		width: 250px;
		height: 150px;
		object-fit: cover;
	}

	@media only screen and (max-width: 600px) {
		.post-featured-image {
			width: 200px;
			height: 150px;
			object-fit: cover;
		}
	}
</style>


<section class="hide padding-center border-top">
    <div class="row">
        <div class="medium-12 columns">
            <div class="label-text medium">
                <div class="title cursive">
                    Read the blog
                </div>
            </div>
        </div>
    </div>

    <?php if (count($posts) > 0): ?>
   
    <div class="row medium-up-2">
        <?php foreach($posts as $post): ?>
            <?php $author = $post->getAuthor() ?>
        <div class="columns">

            <div class="card-journal-article-item">

                <a href="<?php echo $post->getPermalink() ?>">

                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-1">
                            <div class="image-container">
                            <?php if ($featuredImage = $post->getFeaturedImage()): ?>
						<div class="featured-image left margin-bottom-05">
					
							<img class="post-featured-image" src="<?php echo $featuredImage->getFullSizeImage() ?>"
								alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
						

					</div>
					<?php endif; ?>
                            </div>

                        </div>
                        <div class="flex-item flex-1">
                            <div class="content-container">




                                <div class="bottom">
                                    <div class="label">
                                        Inspiration
                                    </div>
                                    <div class="title">
                                        <?php echo $this->htmlEscape($post->getPostTitle()) ?>
                                    </div>
                                    <div class="small-text margin-bottom-05">
                                       <img class="avatar-image margin-right-05" height="35" width="35"
								src="<?php echo $author->getGravatarUrl('100');?>" />
							By <?php echo $post->getAuthor()->getDisplayName()?> - <?php echo $post->getPostDate()?>
				
                                    </div>
                                    <div class="subtitle show-for-medium">
                                        <?php echo $post->getPostExcerpt() ?>
                                    </div>
                                   


                                </div>


                            </div>

                        </div>
                    </div>




                </a>
            </div>

        </div>

        <?php endforeach; ?>

    </div>



    <?php endif; ?>
</section>
