<div>
<h1>
ADMIN VIEW 
</h1>


<?php 
$order = Mage::getModel('sales/order')->getCollection()->addFieldToFilter('status', 'complete_requestpayout');



foreach($order as $orr){
    $nama = $orr->getCustomerName();
    $orderid = $orr->getIncrementId();
    echo $nama." ".$orderid;
?>

<form method="post" action=<?php echo $this->getUrl("exp/payout/paidrequest", $params )?> >
    <input name="orderid" value=<?php echo $orderid ?> />
    <input type="submit" value="bayar" />
</form>

<?php 
        echo "</br>";
    }
?>

</div>