<div>

    <h1>
        Payout History
    </h1>


    <?php 
    $orders = $this->selectOrder();
    //var_dump ($orders);
    ?>
    
    <?php if($orders == null):?>
    <p>Anda belum mempunyai transaksi. silahkan mulai membuat experience</p>
    <a href="<?php echo $this->getUrl('exp/product') ?>" class="button small">Start Host an Experience</a>
    <?php endif;?>
    
    <div class="hide">
    <a href="<?php echo $this->getUrl('exp/payout/index') ?>">payout list</a> </br>
    <a href="<?php echo $this->getUrl('exp/payout/process') ?>">payout requestpayout</a> </br>
    <a href="<?php echo $this->getUrl('exp/payout/paid') ?>">payout paid</a>

    </div>
   


    <div class="list">


        <?php 
      
        //pengembangan selanjutnya di backend filternya. jangan didepan
        foreach($orders as $ord) : 
        $order = $this->cariorder($ord);
    ?>

        <ul class="list-group-default list-group no-bg no-bullet">
            <?php if($order->getStatus()==="processing_checkout" || $order->getStatus()==="complete" || $order->getStatus()==="complete_payout_request" ):?>
            <li>
                <div class="list-item">
                        <div class="row">
                            <div class="small-10 columns">
                                <div class="tiny-text uppercase">Booking ID <?php echo $order->getIncrementId() ?></div>
                                <div class="title"><?php echo Mage::helper('core')->currency($order->getGrandTotal());   ?></div>
                                <?php if($order->getStatus()== "complete_payout_request"):?>
                           
                            <div class="tiny-text label secondary">
                                Waiting for payment
                            </div>
                            
                            

                            <?php elseif($order->getStatus()== "processing_checkout"):?>
                            
                            <div class="tiny-text label alert">
                               Payout Available
                            </div>

                            <?php elseif($order->getStatus()== "complete"):?>
                           
                            <div class="tiny-text label success">
                               Payment paid
                            </div>

                           
                            

                            
                            
                            <?php endif;?>

                            </div>
                            <div class="small-2 columns">
                                <div class="icon text-right">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>
                    

                </div>
            </li>
            <?php endif;?>
        </ul>


        <?php endforeach ?>
    </div>




</div>