<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
?>
<div class="border-bottom padding-bottom-1">
<h1 style="font-size:20px;"><?php echo $_category->getName() ?></h1>
</div>


<div id="category-sidebar" class="hide navigation-sidebar show-for-medium">
    <nav class="navigation-sidebar-list">
        <h5><?php echo $loadCategory->getName();?></h5>
        <ul class="menu vertical">
            <?php foreach(explode(',',$subcats) as $subCatid):?>
            <?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
            <li>
                <a href="<?php echo $_category->getURL();?>">

                    <?php echo $_category->getName();?>
                </a>
            </li>
            <?php endforeach ?>
        </ul>
    </nav>
</div>
