.wrapper {
  width: 100%; }

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 580px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f3f3f3; } }

table.body {
  background: #f3f3f3;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 0 !important; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table:not(.button) {
  width: 100%; }

th.large-3 {
  width: 129px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-3.first {
  padding-left: 16px; }

th.large-3.last {
  padding-right: 16px; }

th.large-4 {
  width: 177.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-4.first {
  padding-left: 16px; }

th.large-4.last {
  padding-right: 16px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-5 {
  width: 225.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-5.last {
  padding-right: 16px; }

th.large-5 center {
  min-width: 193.66667px; }

th.large-6 {
  width: 274px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

.collapse > tbody > tr > th.large-6 {
  padding-right: 0;
  padding-left: 0;
  width: 290px; }

.collapse th.large-6.first,
.collapse th.large-6.last {
  width: 298px; }

th.large-6 center {
  min-width: 242px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-7 {
  width: 322.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-7.first {
  padding-left: 16px; }

th.large-7 center {
  min-width: 290.33333px; }

th.large-8 {
  width: 370.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-8.first {
  padding-left: 16px; }

th.large-8.last {
  padding-right: 16px; }

.body .columns th.large-8 {
  width: 66.66667%; }

th.large-12 {
  width: 564px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

.collapse > tbody > tr > th.large-12 {
  padding-right: 0;
  padding-left: 0;
  width: 580px; }

.collapse th.large-12.first,
.collapse th.large-12.last {
  width: 588px; }

th.large-12 center {
  min-width: 532px; }

.body .columns th.large-12 {
  width: 100%; }

td.expander,
th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.text-center,
h1.text-center,
h4.text-center,
p.text-center {
  text-align: center; }

p.text-right {
  text-align: right; }

@media only screen and (max-width: 596px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; } }

img.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }
  p.lead {
    font-size: 20px;
    line-height: 1.6; }

small {
  font-size: 80%;
  color: #eeeeee; }

a {
  color: #f57224;
  text-decoration: none; }
  a:hover {
    color: #dc580a; }
  a:active {
    color: #dc580a; }
  a:visited {
    color: #f57224; }

h2 a,
h2 a:visited {
  color: #f57224; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f3f3f3;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

table.button {
  width: auto;
  margin: 0 0 16px 0;
  Margin: 0 0 16px 0; }
  table.button table td {
    text-align: left;
    color: #fefefe;
    background: #f57224;
    border: 2px solid #f57224; }
    table.button table td a {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #fefefe;
      text-decoration: none;
      display: inline-block;
      padding: 10px 16px 10px 16px;
      border: 0 solid #f57224;
      border-radius: 15px; }
  table.button.rounded table td {
    border-radius: 3px;
    border: none; }

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited {
  color: #fefefe; }

table.button.large table a {
  padding: 10px 20px 10px 20px;
  font-size: 20px; }

table.button.expand,
table.button.expanded {
  width: 100% !important; }
  table.button.expand table,
  table.button.expanded table {
    width: 100%; }
    table.button.expand table a,
    table.button.expanded table a {
      text-align: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
  table.button.expand center,
  table.button.expanded center {
    min-width: 0; }

table.button:hover table td,
table.button:visited table td,
table.button:active table td {
  background: #dc580a;
  color: #fefefe; }

table.button:hover table a,
table.button:visited table a,
table.button:active table a {
  border: 0 solid #dc580a; }

table.callout {
  margin-bottom: 16px;
  Margin-bottom: 16px; }

th.callout-inner {
  width: 100%;
  border: 1px solid #cbcbcb;
  padding: 10px;
  background: #fefefe; }
  th.callout-inner.primary {
    background: #feeade;
    border: 1px solid #444444;
    color: #333333; }
  th.callout-inner.secondary {
    background: #ebebeb;
    border: 1px solid #444444;
    color: #333333; }

table.menu {
  width: 580px; }
  table.menu th.menu-item {
    padding: 10px;
    padding-right: 10px; }
    table.menu th.menu-item a {
      color: #eeeeee; }

table.menu.vertical th.menu-item {
  padding: 10px;
  padding-right: 0;
  display: block; }
  table.menu.vertical th.menu-item a {
    width: 100%; }

table.menu.text-center a {
  text-align: center; }

.menu[align="center"] {
  width: auto !important; }

@media only screen and (max-width: 596px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-8 {
    display: inline-block !important;
    width: 66.66667% !important; }
  th.small-9 {
    display: inline-block !important;
    width: 75% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; }
  table.menu {
    width: 100% !important; }
    table.menu td,
    table.menu th {
      width: auto !important;
      display: inline-block !important; }
    table.menu.vertical td,
    table.menu.vertical th {
      display: block !important; }
  table.menu[align="center"] {
    width: auto !important; } }

body,
html,
.body {
  background: #fefefe !important; }

.border {
  background: #eeeeee; }

.container.header {
  background: #f3f3f3; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

.header p {
  color: #fff;
  padding-top: 15px; }

.header .wrapper-inner {
  padding: 20px; }

.header .container {
  background: transparent; }

table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998; }

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced; }

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39; }

.wrapper.secondary {
  background: #f3f3f3; }


.border-top {
  border-top: 1px solid #eeeeee; }

.medium-grey-color {
  color: #999999 !important; }

.large-text {
  font-size: 14px !important; }

.label.large h5 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Gotham'; }

.label.large h2 {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333333;
  font-family: 'Gotham'; }

.label.large p {
  font-size: 14px;
  color: #999999;
  font-weight: 500;
  margin-bottom: 0.5rem; }

.label.medium h2 {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  color: #333333;
  font-family: 'Gotham'; }

.label.medium h5 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #999999;
  font-family: 'Gotham'; }

.label.medium p {
  font-size: 16px;
  color: #999999;
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-family: 'Gotham'; }
