<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>

<a class="backnav-url" href="<?php echo $this->getUrl('exp/product') ?>">
    <i class="fa fa-angle-left" aria-hidden="true"></i> My Experience</a>
<h1>Add New Experience</h1>

<form class="form" method="post" name="addproductform" id="addproductform"
    action="<?php echo Mage::getBaseUrl();?>exp/product/addPost" enctype="multipart/form-data">

    <?php echo $this->getBlockHtml('formkey') ?>
    <input name="session_id" type="hidden" value="<?php echo $_session ?>" />
    <input type="hidden" name="customer_id" value="<?php echo $customer->getId();?>" />

    <?php if ($customer->getCustomerBio() == null):?>

    
    <?php echo $this->getChildHtml('personal-information');?>

    <?php endif;?>

	<?php echo $this->getChildHtml('basic-information');?>
	<?php echo $this->getChildHtml('availability');?>
	<?php echo $this->getChildHtml('details');?>
    
	




    <button type="submit" value="add" class="button">Save & Continue</button>
</form>
