<style>
    .mercury {
        color: #999;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px
    }
</style>

<?php $step = $this->getRequest()->getParam('step');?>


<?php if($step == 1):?>

<section id="step-1" class="padding-center">
    <div class="row">
        <div class="medium-6 columns">
            <a class="backnav-url" href="/experience"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>

            <div class="padding-center">

                <h1>What is WIA Experience and the Benefit</h1>
                <p class="mercury cursive">
                    Do what you love and get paid for it
                </p>
                <ul>
                    <li>
                        It’s led by a knowledgeable and passionate host
                    </li>
                    <li>
                        Guests participate hands-on, or are immersed in an activity

                    </li>
                    <li>
                        It gives guests access to a special place or community
                    </li>
                    <li>
                        It tells the story of a host’s unique perspective
                    </li>

                </ul>
                <a href="/exp/product/onboard/step/2" class="button">Next</a>
            </div>

        </div>
        <div class="medium-6 columns show-for-medium">
            <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
        </div>
    </div>
</section>


<?php elseif($step == 2):?>

<section id="step-2" class="padding-center">
    <div class="row">
        <div class="medium-6 columns">
            <a class="backnav-url" href="/exp/product/onboard/step/1"><i class="fa fa-angle-left"
                    aria-hidden="true"></i> Back</a>

            <div class="padding-center">
                <h1>What we’re not looking for:</h1>
                <p class="mercury cursive">
                    The following things don’t qualify as an WIA experience.
                </p>
                <ul>
                    <li>
                        Large and impersonal tours
                    </li>
                    <li>
                        An event with no clear host
                    </li>
                    <li>
                        A service (e.g. airport transportation)
                    </li>
                    <li>
                        Something guests could easily find on their own
                    </li>

                </ul>
                <a href="/exp/product/onboard/step/3" class="button">Next</a>
            </div>

        </div>
        <div class="medium-6 columns show-for-medium">
            <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
        </div>
    </div>
</section>

<?php elseif($step == 3):?>


<section id="step-3" class="padding-center">
    <div class="row">
        <div class="medium-6 columns">
            <a class="backnav-url" href="/exp/product/onboard/step/2"><i class="fa fa-angle-left"
                    aria-hidden="true"></i> Back</a>
            <div class="padding-center">
                <h1>Thanks! Now it’s time to start creating.</h1>
                <p class="mercury cursive">
                    Join more than 300+ host
                </p>
                <ul>
                  
                    <li>
                        <p>
                            Create your experience
                        </p>
                        <p>Add photos, descriptions, and other details to be reviewed by Wearinasia
                        </p>
                    </li>
                    <li>
                        <p class="no-margin">Submit for review</p>
                        <p>Someone from Wearinasia will review your experience page. If it meets our quality
                            standards, you’ll get to add availability and start hosting!</p>
                    </li>


                </ul>
                <a href="/exp/product/" class="button">Create a new Experience</a>
            </div>

        </div>
        <div class="medium-6 columns show-for-medium">
            <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
        </div>
    </div>
</section>


<?php endif;?>