<?php
	
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('homepage_f_brand', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
?>

<div class="row">
    <div class="medium-12 columns">
        <div class="label-text medium">
            <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">
                    <div class="title">
                        Featured Brand
                    </div>
                    <div class="description">
                        Brand populer minggu ini
                    </div>
                </div>
                <div class="flex-item">
                    <a href="/brand">
                        View More
                    </a>
                </div>

            </div>
        </div>
        <div class="flex-container scroll-container">
            <?php foreach($categories as $category) :?>

            <div class="flex-item scroll-item-3">
                <a href="<?php echo $category->getUrl()?>">
                <div class="card-global-two">
                    <div class="image-container">
                    
                        <img src="<?php echo $category->getResizedThumbnailImage(400,300,78); ?>" width="315"
                            height="220" alt="<?php echo $category->getname();?>">
                        
                          
                        
                        <div class="category-name hide">
                            <?php echo $category->getName()?>
                        </div>
                    </div>

                    <div class="content-container">

                        <div class="title">
                            <h2><?php echo $category->getData("category_title"); ?>
                            </h2>
                        </div>
                        <div class="description">
                            <?php echo $category->getData("short_description"); ?>
                        </div>

                        <div class="button primary radius tiny">
                            Shop Now
                        </div>

                    </div>

                </div>
                </a>
               

            </div>



            <?php endforeach;?>
        </div>
    </div>
</div>