<?php
	$terms = explode(',', $this->getCategoryIds());
        $template = $this->getCategoryTemplate();
        $type = $this->getCategoryType();
        $title = $this->getCategoryTitle();
        $subtitle = $this->getCategorySubtitle();
	
?>

<div class="padding-center">
        <div class="row">
                <div class="medium-12 columns">
                        <div class="label-text medium">
                                <div class="flex-container horizontal justify-space-between align-end">
                                        <div class="flex-item">
                                                <div class="title">
                                                       <?php echo $title?>
                                                </div>
                                                <div class="description">
                                                        <?php echo $subtitle?>
                                                </div>
                                        </div>
                                        <div class="flex-item">
                                                <a href="#">View More</a>
                                        </div>

                                </div>
                        </div>
                        <div id="featured-experience" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach ($terms as $term):?>
                                <?php $category = Mage::getModel('catalog/category')->load($term);?>
                                <div class="item">
                                        <div class="card-global-two">
                                                <div class="image-container">

                                                        <img src="<?php echo $category->getResizedThumbnailImage(500,400,78); ?>"
                                                                width="400" height="500"
                                                                alt="<?php echo $category->getname();?>">
                                                        <div class="category-name hide">
                                                                <?php echo $category->getName()?>
                                                        </div>
                                                </div>

                                                <div class="content-container">

                                                        <div class="title">
                                                                <h2><?php echo $category->getData("category_title"); ?>
                                                                </h2>
                                                        </div>
                                                        <div class="description">
                                                                <?php echo $category->getData("short_description"); ?>
                                                        </div>

                                                        <div class="button primary radius tiny">
                                                                Shop Now
                                                        </div>

                                                </div>

                                        </div>

                                </div>



                                <?php endforeach;?>
                        </div>

                </div>
        </div>
</div>