<?php
    $_categoryId = $this->getData('id');
    $_category = Mage::getModel('catalog/category')->load($_categoryId);
    $_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->joinField(
        'stock_status',
        'cataloginventory/stock_status',
        'stock_status',
        'product_id=entity_id', array(
        'stock_status' => Mage_CatalogInventory_Model_Stock_Status::STATUS_IN_STOCK,
        'website_id' => Mage::app()->getWebsite()->getWebsiteId(),
        )
    )
    ->setPageSize(12);
    $_productCollection->getSelect()->order(new Zend_Db_Expr('RAND()'));
    ?>

<div class="row">
    <div class="medium-12 columns">
        <div class="label-text medium">
            <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">
                    <div class="title">
                        <?php echo $_category->getName();?>
                    </div>
                    <div class="description">
                        Produk terbaru minggu ini
                    </div>
                </div>
                <div class="flex-item">
                    <a href="<?php echo $_category->getUrl();?>">
                        View More
                    </a>
                </div>

            </div>
        </div>
        <div class="flex-container scroll-container">

            <?php foreach ($_productCollection as $_product):?>
            <?php $_convertedFinalPrice = $_product->getFinalPrice(); ?>
            <div class="flex-item scroll-item-3">

                <div class="card-product-goods-landscape">
                    <a href="<?php echo $_product->getProductUrl() ?>">
                        <div class="flex-container">

                            <div class="flex-item flex-2 text-left">
                                <?php $_imgSize = 100; ?>
                                <img class="lazy" height="100" width="100"
                                    id="product-collection-image-<?php echo $_product->getId(); ?>"
                                    data-srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,250); ?> 768w, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,250); ?> 1024w"
                                    data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>"
                                    src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150,150); ?>"
                                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                            </div>
                            <div class="flex-item flex-3">
                                <div class="label">
                                    <?php if (!empty( $_product->getBrand())):?>
                                    <?php echo $_product->getAttributeText("brand");?>
                                    <?php endif;?>
                                </div>
                                <div class="title">
                                    <h2>
                                        <?php $prod_name = $_product->getName(); ?>
                                        <?php
                                                                $count_str = strlen($prod_name);
                                                                if ($count_str < 30) {
                                                                    echo $prod_name;
                                                                } else {
                                                                    $offset = 0;
                                                                    $length = 31;   
                                                                    $prod_name = html_entity_decode($prod_name);                     
                                                                    echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                                                                }
                                                        ?>

                                    </h2>
                                </div>
                                <?php $storeId = Mage::app()->getStore()->getId();
                                                        $summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
                                                    // var_dump($summaryData);
                                                        ?>
                                <?php if( $summaryData['reviews_count'] !== null):?>
                                <div class="rating-container">

                                    <span class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <span class="rating-summary">
                                        <?php echo $summaryData['rating_summary'] / 20; ?>
                                    </span>
                                    <span class="rating-count">
                                        ( <?php echo $summaryData['reviews_count']; ?> Review's
                                        )

                                    </span>
                                </div>
                                <?php endif;?>
                                <div class="price-container">
                                    <!-- <div class="discount-price">
                                                    Rp 12.000.000
                                            </div> -->
                                    <div class="normal-price">
                                        <div class="normal-price">
                                            <?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false);?>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </a>


                </div>



            </div>
            <?php endforeach ?>

        </div>


    </div>
</div>