<?php
	
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('homepage_f_promo', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
?>

<div class="row">
        <div class="medium-12 columns">
                <div class="label-text medium">
                        <div class="flex-container horizontal justify-space-between align-end">
                                <div class="flex-item">
                                        <div class="title">
                                                Find a deals
                                        </div>
                                        <div class="description">
                                                Promo diskon dan partnership
                                        </div>
                                </div>
                                <div class="flex-item">
                                        <a href="/promo">
                                                View More
                                        </a>
                                </div>

                        </div>
                </div>
                <div class="flex-container scroll-container">
                        <?php foreach($categories as $category) :?>

                        <div class="flex-item scroll-item-3">


                                <a href="<?php echo $category->getUrl()?>">
                                        <div class="card-global-one">

                                                <img src="<?php echo $category->getResizedThumbnailImage(400,300,78); ?>"
                                                        width="350" height="220"
                                                        alt="<?php echo $category->getname();?>">

                                                <div class="content-container">
                                                        <div class="label">
                                                                <?php echo $category->getData("category_label"); ?>
                                                        </div>
                                                        <div class="title">
                                                                <?php echo $category->getData("category_title"); ?>

                                                        </div>
                                                        <div class="button-container">
                                                                <div class="button primary radius tiny">
                                                                        Shop Now
                                                                </div>
                                                        </div>
                                                </div>


                                        </div>
                                </a>


                        </div>



                        <?php endforeach;?>
                </div>
        </div>
</div>